<template>
	<div>
		<!--
	  <b-modal 
	  	id="modal-search-product" 
	  	title="Buscar producto">
	    <div class="my-4">
	    </div>
	  </b-modal>
		-->
		<b-modal 
			id="modal_sale_type_form" 
			ref="modal_sale_type_form" 
			:title=" `${list_sale_types.reg_form.id ? 'Actualizar' : 'Crear'} tipo de salida/venta` "
			size=md
			cancel-title="Cerrar cuadro"
			:ok-title=" list_sale_types.reg_form.id ? 'Editar' : 'Crear' "
			@ok=" procSaleType "
			:no-close-on-esc="true" 
			:no-close-on-backdrop="true" 
		>
			<b-form-group
	      label="Tipo"
	    >
	      <b-form-input 
	      	v-model=" list_sale_types.reg_form.t_name " 
	      	trim />
	    </b-form-group>
		</b-modal>
		<b-modal
			id="modal_sale_types" 
			name="modal_sale_types" 
			size=lg
			ok-title="Cerrar"
			ok-only 
			title="Tipos de salida/ventas"
		>
			<b-btn 
				class="mb-1"
				variant=success 
				size=sm 
				v-b-modal.modal_sale_type_form
				@click=" addSaleType ">
				<fai icon=plus /> Agregar
			</b-btn>
			<table 
				class="
					table 
					table-hover 
					table-borderer 
					table-stripped">
				<thead>
					<tr>
						<th>
							<b-btn 
								variant=success 
								size=sm 
								@click=" getSaleTypes ">
								<fai 
									icon=sync 
									v-if=" !list_sale_types.wait " />
	    					<b-spinner 
	    						label="Spinning" 
	    						small 
	    						v-else /> 
							</b-btn>
						</th>
						<th>Tipo</th>
						<th>Creado el</th>
						<th>Actualizado el</th>
						<th></th>
					</tr>
				</thead>
				<tbody v-if=" list_sale_types.list.length>0 ">
					<tr v-for=" (it,idx) in list_sale_types.list " :key=" idx ">
						<td>{{ idx + 1 }}</td>
						<td>{{ it.t_name }}</td>
						<td>
							<span>
								{{ it.created_at | moment('DD/MM/YYYY hh:mm:ss a') }}
							</span><br />
							<strong v-if="!!it.deleted_at">
								Eliminado el día: 
								{{ it.deleted_at | moment('DD/MM/YYYY hh:mm:ss a') }}
							</strong>
						</td>
						<td>
							{{ it.updated_at | moment('DD/MM/YYYY hh:mm:ss a') }}
						</td>
						<td>
							<b-btn v-show=" !it.deleted_at "
								@click=" editSaleType(it) "
								v-b-modal.modal_sale_type_form
								variant=primary 
								size=sm>
								<fai icon=edit />
							</b-btn>
							<b-btn 
								@click=" delSaleType(it) "
								:variant="`${it.deleted_at ? 'warning' : 'danger'}`" 
								size=sm>
								<fai icon=trash />
							</b-btn>
						</td>
					</tr>
				</tbody>
				<tbody v-else>
					<tr>
						<td colspan=5>0 registros</td>
					</tr>
				</tbody>
			</table>
		</b-modal>
		<b-modal
			id="modal_printing_mode" 
			name="modal_printing_mode" 
			size=sm
			ok-title="Cerrar"
			ok-only 
			title="Area de impresión de venta"
		>
			<b-embed 
				id="printing_area"
				name="printing_area"
				ref="printing_area"
		    type="iframe"
		    :src=" url_sales_printing_mode "
		    allowfullscreen
		  ></b-embed>
		  <b-btn
		  	@click="print" 
		  	size=sm 
		  	variant=success
		  >Imprimir</b-btn>
		</b-modal>	
		<div v-if=" !is_new && !current_sale ">
			<b-alert variant="danger" show>Registro de venta no identificada</b-alert>
		</div>
		<b-row v-else>
			<b-col lg=7>
				<b-card 
					:title=" is_new ? 'Listado de productos a vender' : 'Listado de productos en esta salida/venta' " 
					sub-title="">

			    <b-card-body>
			    	<hr />
					<label>Fecha de emisión:</label><br />
					<b-input-group class="mb-1">
						<template v-slot:append>
							<b-btn variant=danger size=sm @click=" list_sale_types.reg_form.issued_at.value = '' ">
								<fai icon=times />
							</b-btn>
						</template>
						<!--
						<datetime 
							zone="America/Lima"
							type="date"  
							input-class="input-issued-at"
							v-model=" list_sale_types.reg_form.issued_at " 
							format="dd/MM/yyyy"></datetime>
							-->
						<date-picker 
							v-model="list_sale_types.reg_form.issued_at.value" 
							:config="list_sale_types.reg_form.issued_at.options" />
					</b-input-group>
			    	<p>
			    		<label>Total: {{ get_total_price_for_sale }}</label>
			    	</p>
					<b-form-checkbox 
				  		class="noselect" 
				      v-model="enable_product_quantity_edition"
				      name="enable_product_quantity_edition"
				      value="yes"
				      unchecked-value="no"
				    >
				    	Modificar cantidad de productos
				    </b-form-checkbox>
				    <div 
				    	class="table-container" 
				    	style="overflow-y: inherit; max-height: fit-content;">
				    	<table 
				    		class="
				    			table 
				    			table-stripped 
				    			table-borderer 
				    			table-hover">
					    	<thead>
					    		<tr>
					    			<th>#</th>
					    			<th>Producto</th>
					    			<th style="max-width: 110px;">Precio Unidad / Kilo / Litro</th>
					    			<th>Cantidad</th>
					    			<th></th>
					    		</tr>
					    	</thead>
					    	<tbody v-if=" list_products_for_sale.length > 0 ">
					    		<tr v-for=" (it,idx) in list_products_for_sale" :key="idx">
					    			<td>{{ idx + 1 }}</td>
					    			<td>
					    				<strong>{{ it.prod_name }}</strong>
					    				<div class="ii">
					    					<fai 
					    						icon=sync 
					    						@click=" getProductStockInfoOnSale(it,idx) " 
					    						v-show=" !it.prod_stock_sync " /> 
					    					<b-spinner 
					    						label="Spinning" 
					    						small 
					    						v-show=" it.prod_stock_sync " /> 
					    					<label>stock({{ `${ it.prod_stock ? it.prod_stock : '-' }${ it.prod_stock_no_unit > 0 ? ` + ${ it.prod_stock_no_unit / 1000.0 }` : '' }` }})</label>
					    				</div>
					    				<br />
					    				<i> {{ it.prod_barcode }}</i><br />
					    				<b-form-checkbox class="noselect"
									      v-model="it.prod_by_weight"
									      value="yes"
									      unchecked-value="no"
									    >
									      Por peso
									    </b-form-checkbox>
					    				<b-form-checkbox class="noselect"
									      v-model="it.discount_sale"
									      value="yes"
									      unchecked-value="no"
									    >
									      Con otro precio?
									    </b-form-checkbox>
					    				<b-form-group 
					    					 v-show=" it.discount_sale != 'no' " 
					    					label="Total con descuento:">
					    					<b-form-input
					    					maxlength=6 
					    					type="number"
					    					v-model.number='it.discount_sale_price'
					    					min=0.1
					    					placeholder="Ej: 1.00" />
					    				</b-form-group>
					    			</td>
					    			<td>
					    				S/. {{ it.prod_price }}
					    			</td>
					    			<td style="width: 130px;">
					    				<b-form-input 
					    					maxlength=4 
					    					type="number"
					    					:disabled=" enable_product_quantity_edition == 'no' && it.prod_by_weight == 'no' "
					    					v-model.number="it.prod_quantity" 
					    					min=1
					    					max=999
					    					placeholder="Ej: 1" />
					    				<div v-if=" it.prod_by_weight == 'yes' ">
					    					( S/. {{ ( it.prod_price * ( it.prod_quantity / 1000.0 ) ).toFixed(2) }} )
					    				</div>
					    				<div v-else>
					    					( S/. {{ ( it.prod_price * it.prod_quantity ).toFixed(2) }} )
					    				</div>
									  	<b-form-radio-group v-show=" it.prod_by_weight == 'yes' "
								  			stacked
								  			v-model="it.prod_weight_type.selected" 
								  			:options="it.prod_weight_type.options" />
					    			</td>
					    			<td>
					    				<b-btn 
					    					title="Quitar" v-b-tooltip
					    					size=sm 
					    					variant=danger 
					    					@click="remove_product_from_cart(it)">
					    					<fai icon=trash />
					    				</b-btn>
					    			</td>
					    		</tr>
					    	</tbody>
					    	<tbody v-else>
					    		<tr>
					    			<td colspan=5>Cero registros en la cesta</td>
					    		</tr>
					    	</tbody>
					    </table>
				    </div>

						<b-card class="mb-2 mt-2" title="Tipos de salida/venta">
			    		<b-form-group v-if=" list_sale_types.list.length < 10 ">
								<b-btn 
									variant=primary 
									size=sm v-b-modal.modal_sale_types>
									<fai icon="list" />
								</b-btn>
								<b-btn 
									size=sm 
									variant=success 
									@click=" getSaleTypes(true) ">
									<fai icon=sync v-if=" !list_sale_types.wait " />
		    					<b-spinner 
		    						label="Spinning" 
		    						small 
		    						v-else /> Actualizar tipos de salida
								</b-btn>
				    		<b-form-radio-group stacked 
				    		v-model=" list_sale_types.selected " 
				    		:options="list_sale_types.options" />
			    		</b-form-group>
							<b-input-group class="mt-3" v-else>
								<template v-slot:prepend>
									<b-btn 
										variant=primary 
										size=sm v-b-modal.modal_sale_types>
										<fai icon="list" />
									</b-btn>
								</template>
								<template v-slot:append>
									<b-btn 
										size=sm 
										variant=success 
										@click=" getSaleTypes(true) ">
										<fai icon=sync v-if=" !list_sale_types.wait " />
			    					<b-spinner 
			    						label="Spinning" 
			    						small 
			    						v-else /> 
									</b-btn>
								</template>
					    	<b-form-select 
					    		v-model=" list_sale_types.selected " 
					    		:options="list_sale_types.options" />
							</b-input-group>
			    	</b-card>
						<b-card 
							title="Personal Técnico"
							class="mb-2" 
							v-show=" list_sale_types.selected == 2 ">
							<a :href="`${url_technical_staff}`" target="_blank">Ir al módulo de personal técnico</a>
							<b-input-group class="mt-3">
								<template v-slot:prepend>
									<b-btn 
										variant=dark 
										size=sm>
										Técnico
									</b-btn>
								</template>
								<template v-slot:append>
									<b-btn 
										size=sm 
										variant=success 
										@click=" getTechnicalStaff ">
										<fai icon=sync v-if=" !list_technical_staff.wait " />
			    					<b-spinner 
			    						label="Spinning" 
			    						small 
			    						v-else /> 
									</b-btn>
								</template>
					    	<b-form-select 
					    		v-model=" list_technical_staff.selected " 
					    		:options="list_technical_staff.options" />
							</b-input-group>
						</b-card>
			    	<p>
			    		<label>Total: {{ get_total_price_for_sale }}</label>
			    	</p>
			    	<b-btn v-if=" is_new && list_products_for_sale.length>0 "
			    		@click=" process_new_sale "
			    		size=sm 
			    		variant=primary>Generar salida/venta</b-btn>
			    	<b-btn 
			    		@click=" process_update_sale "
			    		size=sm 
			    		variant=primary 
			    		v-if=" !is_new && list_products_for_sale.length>0 ">Actualizar salida/venta</b-btn>
			    		<b-btn 
			    			 v-if=" !is_new "
			    			v-b-modal.modal_printing_mode 
			    			size=sm 
			    			variant=warning>Ver Impresión</b-btn>
			    </b-card-body>
			  </b-card>
			</b-col>
			<b-col lg=5>
				<b-card 
					title="Búsqueda de productos" 
					sub-title="">

			    <b-card-body>
			  		<b-form-group 
				  		class="noselect"
			  			label="Filtrar productos por:">
				  		<b-form-radio-group 
				  			stacked
				  			v-model="filters.type.selected" 
				  			:options="filters.type.options" />
			  		</b-form-group>
			  		<b-input-group>
					    <template v-slot:prepend>
					    	<b-btn size=sm variant=dark>
					    		<fai icon=search v-if="!wait_search_products" />
					    		<b-spinner v-else variant="light" label="Spinning" small></b-spinner>
					    	</b-btn>
					    </template>
					    <b-form-input 
					    	ref="ref_filter_field_value"
					    	name="ref_filter_field_value"
					    	autofocus 
					    	:disabled=" wait_search_products" 
					    	placeholder="Tipee aquí para buscar" 
					    	v-on:keydown.enter="search_product"
					    	v-model="filter_field_value"></b-form-input>

					    <template v-slot:append>
					    	<b-btn size=sm variant=dark @click="search_product">
					    		Buscar
					    	</b-btn>
					    </template>
					  </b-input-group>
					  <br />
					  <b-form-checkbox 
				  		class="noselect" 
				  		v-if="filters.type.selected == 'prod_barcode'"
				      v-model="add_item_automatically_to_cart"
				      name="add_item_automatically_to_cart"
				      value="yes"
				      unchecked-value="no"
				    >
				    	Añadir producto automáticamente
				    </b-form-checkbox>
					  <br />
				    <div class="table-container">
				    	<table class="table table-stripped table-borderer">
					    	<thead>
					    		<tr>
					    			<th>#</th>
					    			<th>Producto</th>
					    			<th>Precio</th>
					    		</tr>
					    	</thead>
					    	<tbody v-if=" list_products_on_searching.length > 0 ">
					    		<tr v-for=" (it,idx) in list_products_on_searching" :key="idx">
					    			<td>{{ idx + 1 }}</td>
					    			<td>
					    				<b-btn size=sm variant=success @click="move_product_to_cart(it)">
					    					<fai icon="chevron-left"/>
					    				</b-btn>
					    				<strong>{{ it.prod_name }}</strong>
					    				<br />
					    				<span>stock: {{ it.prod_stock }}</span>
					    				<br />
					    				<i> {{ it.prod_barcode }}</i><br />
					    				<a :href="`${url_products}/${it.id}`" target="_blank">
					    					Modificar producto
					    				</a>
					    			</td>
					    			<td>{{ it.prod_price }}</td>
					    		</tr>
					    	</tbody>
					    	<tbody v-else>
					    		<tr>
					    			<td colspan=3>Cero registros en este listado</td>
					    		</tr>
					    	</tbody>
					    </table>
				    </div>
			    </b-card-body>
			  </b-card>
			</b-col>
		</b-row>
	</div>
</template>

<script>
	export default {
		data(){
			return {
				list_technical_staff:{
					selected:null,
					options:[],
					wait:false,
				},
				list_sale_types:{
					selected:null,
					options:[{text:'Seleccionar tipo de salida',value:null}],
					wait:false,
					list:[],
					reg_form:{
						id:null,
						t_name:'',
						created_at:'',
						updated_at:'',
						deleted_at:'',
						issued_at:{
							value:'',
							options:{
								debug: false,
								format: 'L',
								timeZone:process.env.APP_TIMEZONE,
								locale:'es',
								useCurrent: true,
								defaultDate: '',
								icons: {
									time: 'fa fa-clock',
									date: 'fa fa-calendar',
									up: 'fa fa-arrow-up',
									down: 'fa fa-arrow-down',
									previous: 'fa fa-chevron-left',
									next: 'fa fa-chevron-right',
									today: 'fa fa-calendar-check',
									clear: 'fa fa-trash-alt',
									close: 'fa fa-times-circle'
								} 
							},
						},
						wait:false,
					}
				},
				list_products_on_searching:[],
				list_products_for_sale:[],
				wait_process_new_sale:false,
				wait_process_update_sale:false,
				wait_search_products:false,
				filter_field_value:'',
				add_item_automatically_to_cart:'yes',
				enable_product_quantity_edition:'no',
				filters:{
					type:{
						selected:'prod_barcode',
						options:[
							{text:'Código de barra',value:'prod_barcode'},
							{text:'Nombre de producto',value:'prod_name'},
						],
					}
				},
			}
		},
		mounted() {
			console.log('Component mounted.')
			console.log("current_sale",this.current_sale)
			if(this.current_sale && this.current_sale.json_products){
				const prods = JSON.parse(this.current_sale.json_products)
				console.log(prods)
				for(let obj of prods){
					if(!obj.prod_quantity)obj.prod_quantity = 0
					if(!obj.prod_by_weight)obj.prod_by_weight = 'no'
					if(!obj.prod_weight_type){
						obj.prod_weight_type = this.get_prod_weight_type_props()
					}else{
						const vv = this.get_prod_weight_type_props()
						vv.selected = obj.prod_weight_type
						obj.prod_weight_type = vv
					}

					if(!obj.discount_sale)obj.discount_sale = 'no'
					if(!obj.discount_sale_price)obj.discount_sale_price = 0

					obj.prod_stock_sync = false
					obj.prod_stock_no_unit = 0

				}
				this.list_products_for_sale = prods
			}
			this.getTechnicalStaff()
			this.getSaleTypes()
			this.list_sale_types.wait = false
			this.getSaleTypes(true)

			if(this.current_sale && this.current_sale.sale_type_id){
				this.list_sale_types.selected = this.current_sale.sale_type_id
			}

			if(this.current_sale && this.current_sale.technical_staff_id){
				this.list_technical_staff.selected = this.current_sale.technical_staff_id
			}

			if(this.current_sale && this.current_sale.issued_at){
				console.log(`transforming: ${this.current_sale.issued_at}`)
				const vv = this.$moment(this.current_sale.issued_at,'YYYY-MM-DD').format('DD/MM/YYYY')
				console.log(`issued_at from current sale: ${vv}`)
				this.list_sale_types.reg_form.issued_at.value = vv
			}

		},
		methods:{
			procSaleType(modal_event){

				if(modal_event)modal_event.preventDefault()
				if(this.list_sale_types.reg_form.wait)return
				Swal.fire({
					title: `${this.list_sale_types.reg_form.id ? 'Modificar' : 'Agregar'} tipo de salida / venta`,
					text: "",
					icon: 'warning',
					showCancelButton: true,
					confirmButtonColor: '#3085d6',
					cancelButtonColor: '#d33',
					cancelButtonText: 'Cancelar operación',
					confirmButtonText: 'Si'
				}).then((result) => {
					if (result.value) {
						if(this.list_sale_types.reg_form.wait)return
						this.list_sale_types.reg_form.wait = true
							
						const data = {...this.list_sale_types.reg_form}

						console.log('updating or creating',data)
						this.axios({
							method:( this.list_sale_types.reg_form.id ? 'PUT':'POST' ),
							url: `${this.url_sale_types}${this.list_sale_types.reg_form.id ? `/${this.list_sale_types.reg_form.id}`:''}`,
							data,
							headers:{
								'Content-Type':'application/json',
								'Accept': 'application/json',
							}
						}).then((response) => {
							console.log(response)
							this.list_sale_types.reg_form.wait = false
							Swal.fire({
								title:`Tipo de salida/venta ${ this.list_sale_types.reg_form.id ? 'actualizada' : 'creada' }`,
								icon:'success'
							})

							for(const idx in response.data){
								const obj = response.data[idx]
								if(idx in this.list_sale_types.reg_form){
									this.list_sale_types.reg_form[idx] = obj
								}
							}
							this.getSaleTypes()

						}).catch((error) => {
							console.log(error)
							this.list_sale_types.reg_form.wait = false
							Swal.fire({
								title:`Error al ${ this.list_sale_types.reg_form.id ? 'actualizar' : 'crear' } tipo de salida/venta`,
								icon:'warning'
							})

						})
					}
				})
			},
			addSaleType(){

				this.list_sale_types.reg_form.id 					= null
				this.list_sale_types.reg_form.t_name 			= ''
				this.list_sale_types.reg_form.created_at = ''
				this.list_sale_types.reg_form.updated_at = ''
				this.list_sale_types.reg_form.deleted_at = ''

			},
			editSaleType(it){

				this.list_sale_types.reg_form.id 					= it.id
				this.list_sale_types.reg_form.t_name 			= it.t_name
				this.list_sale_types.reg_form.created_at = it.created_at
				this.list_sale_types.reg_form.updated_at = it.updated_at
				this.list_sale_types.reg_form.deleted_at = it.deleted_at

			},
			delSaleType(it){
				Swal.fire({
					title: `${ it.deleted_at ? 'Restaurar' : 'Eliminar' } tipo de salida/venta ${it.mo_name}  ?`,
					text: `${it.deleted_at ? '' : 'Esta operación puede ser restaurada'}`,
					icon: 'warning',
					showCancelButton: true,
					confirmButtonColor: '#3085d6',
					cancelButtonColor: '#d33',
					cancelButtonText: 'Cancelar operación',
					confirmButtonText: 'Si'
				}).then((result) => {
					if (result.value) {
						if(this.list_sale_types.reg_form.wait)return
						this.list_sale_types.reg_form.wait = true
						this.axios.delete(`${this.url_sale_types}/${it.id}`,{
							headers:{
								'Content-Type':'application/json',
								'Accept': 'application/json',
							}
						}).then((response) => {
							this.list_sale_types.reg_form.wait = false
							Swal.fire({
								title:`Tipo de salida/venta ${ it.deleted_at ? 'restaurada' : 'eliminada' }`,
								icon:'success'
							})
							this.getSaleTypes()
						}).catch((error) => {
							this.list_sale_types.reg_form.wait = false
							Swal.fire({
								title:`Error al ${ it.deleted_at ? 'restaurar' : 'eliminar' } el tipo de salida/venta`,
								icon:'warning'
							})

						})
					}
				})

			},
			getTechnicalStaff(){
				if(this.list_technical_staff.wait)return
				this.list_technical_staff.wait = true
				this.axios.get(this.url_technical_staff,{
					params:{
						query_value:'',
						values_as:'options',
					},
					headers:{
						'Accept':'application/json',
					}
				}).then((response)=>{
					this.list_technical_staff.wait = false
					this.list_technical_staff.options = response.data
				}).catch((error)=>{
					this.list_technical_staff.wait = false
					this.list_technical_staff.options = [{text:'Seleccionar técnico',value:null}]
				}).then(()=>{

				})
			},
			getSaleTypes(as_options = false){
				if(this.list_sale_types.wait)return
				this.list_sale_types.wait = true
				this.axios.get(this.url_sale_types,{
					params:{
						query_value:'',
						values_as:(as_options===true ? 'options' : ''),
					},
					headers:{
						'Accept':'application/json',
					}
				}).then((response)=>{
					this.list_sale_types.wait = false
					if(as_options===true){
						this.list_sale_types.options = response.data
					}else{
						this.list_sale_types.list = response.data
					}
				}).catch((error)=>{
					this.list_sale_types.wait = false
					if(as_options===true){
						this.list_sale_types.options = [{text:'Seleccionar tipo de salida',value:null}]
					}else{
						this.list_sale_types.list = []
					}
				}).then(()=>{

				})
			},
			get_prod_weight_type_props(){
				return {
								selected:'g',
								options:[
									{text:'Gramos',value:'g'},
									{text:'Mili Litros',value:'ml'},
								],
							}
			},
			print(){
				(function(){
					window.frames['printing_area'].focus()
					window.frames['printing_area'].print()
				})()
			},
			search_product(){
				if(this.wait_search_products)return
				this.wait_search_products = true	
				this.axios.get(this.url_products_filter, {
			    params: {
			      filter_field_value:this.filter_field_value,
			      type:this.filters.type.selected,
			    },
			    headers:{
			    	'Accept': 'application/json',
			    }
			  })
			  .then( (response) => {
			  	this.wait_search_products = false
			    console.log(response)
			    this.list_products_on_searching = response.data.records
			    if(this.add_item_automatically_to_cart == 'yes' && response.data.records.length == 1){
			    	this.move_product_to_cart(response.data.records[0])
			    	this.filter_field_value = ''
			    }
		    	window.setTimeout(()=>{
		    		this.$refs.ref_filter_field_value.focus()
		    	},300)
			  })
			  .catch( (error) => {
			  	this.wait_search_products = false
			    console.log(error)
			    this.list_products_on_searching = []
		    	window.setTimeout(()=>{
		    		this.$refs.ref_filter_field_value.focus()
		    	},300)
			  })
			  .then(function () {
			  }) 
			},
			move_product_to_cart(item){
				let found = false
				let idx, record
				for(idx in this.list_products_for_sale){
					record = this.list_products_for_sale[idx]
					if( record.id == item.id ){
						found = true
						break
					}
				}
				if(!found){
					const copy = {...item}
					copy.prod_quantity = 1
					copy.prod_by_weight = 'no'
					copy.discount_sale = 'no'
					copy.discount_sale_price = 0
					copy.prod_weight_type = this.get_prod_weight_type_props()
					copy.prod_stock_sync = false
					copy.prod_stock_no_unit = item.prod_stock_no_unit ? item.prod_stock_no_unit : 0
					this.list_products_for_sale.push(copy)
				}else{
					record.prod_quantity++
					this.$set(this.list_products_for_sale,idx,record)
				}
			},
			remove_product_from_cart(item){
				Swal.fire({
				  title: `Seguro de retirar el producto '${item.prod_name}' del registro de esta venta ?`,
				  text: "",
				  icon: 'warning',
				  showCancelButton: true,
				  confirmButtonColor: '#3085d6',
				  cancelButtonColor: '#d33',
				  cancelButtonText: 'Cancelar operación',
				  confirmButtonText: 'Si, retirar!'
				}).then((result) => {
				  if (result.value) {

						let index_to_remove = -1
						for(let index in this.list_products_for_sale){
							if( this.list_products_for_sale[index].id == item.id ){
								index_to_remove = index
								break
							}
						}
						if(index_to_remove >= 0){
							this.list_products_for_sale.splice(index_to_remove,1)
						}

				  }
				})
			},
			list_products_for_sale_props(){
				return this.list_products_for_sale.map((reg)=>{
					return {
						id: reg.id,
						prod_name: reg.prod_name,
						prod_barcode: reg.prod_barcode,
						prod_price: reg.prod_price,
						prod_quantity: reg.prod_quantity,
						prod_weight_type: reg.prod_weight_type.selected,
						prod_by_weight: reg.prod_by_weight,
						discount_sale: reg.discount_sale,
						discount_sale_price: reg.discount_sale_price,
					}
				})
			},
			process_new_sale(){
				Swal.fire({
				  title: `Registrar nueva venta en el sistema ?`,
				  text: "",
				  icon: 'warning',
				  showCancelButton: true,
				  confirmButtonColor: '#3085d6',
				  cancelButtonColor: '#d33',
				  cancelButtonText: 'Cancelar operación',
				  confirmButtonText: 'Si'
				}).then((result) => {
				  if (result.value) {

						if(this.wait_process_new_sale)return
						this.wait_process_new_sale = true

						const data = {}
						data.products = this.list_products_for_sale_props()

						data.sale_type_id	 			= this.list_sale_types.selected
						data.technical_staff_id = this.list_technical_staff.selected
						try{
							data.issued_at = this.list_sale_types.reg_form.issued_at.value
						}catch(e){}

						console.log("saving products",data.products)
						this.axios.post(this.url_sales_create, 
						data,
						{
					    headers:{
					    	'Content-Type': 'application/json',
					    	'Accept': 'application/json',
					    }
					  })
					  .then( (response) => {
					    this.wait_process_new_sale = false
					    window.location.assign(`${this.url_sales}/${response.data.id}`)
					    console.log(response)
					  })
					  .catch( (error) => {
					    this.wait_process_new_sale = false
					    console.log(error)
					    Swal.fire('Error al crear nueva venta','','error')
					  })
					  .then(function () {
					  }) 

				  }
				})
			},
			process_update_sale(){
				Swal.fire({
				  title: `Desea actualizar la venta registrada ?`,
				  text: "",
				  icon: 'warning',
				  showCancelButton: true,
				  confirmButtonColor: '#3085d6',
				  cancelButtonColor: '#d33',
				  cancelButtonText: 'Cancelar operación',
				  confirmButtonText: 'Si'
				}).then((result) => {
				  if (result.value) {

						if(this.wait_process_update_sale)return
						this.wait_process_update_sale = true

						const data = {}
						data.products 					= this.list_products_for_sale_props()
						data.sale_type_id	 			= this.list_sale_types.selected
						data.technical_staff_id = this.list_technical_staff.selected
						try{
							data.issued_at = this.list_sale_types.reg_form.issued_at.value
						}catch(e){}

						this.axios.put(`${this.url_sales}/${this.current_sale.id}`, 
						data,
						{
					    headers:{
					    	'Content-Type': 'application/json',
					    	'Accept': 'application/json',
					    }
					  })
					  .then( (response) => {
					    this.wait_process_update_sale = false
					    window.location.assign(`${this.url_sales}/${response.data.id}`)
					    console.log(response)
					  })
					  .catch( (error) => {
					    this.wait_process_update_sale = false
					    console.log(error)
					    Swal.fire('Error al actualizar la venta','','error')
					  })
					  .then(function () {
					  }) 

				  }
				})
			},
			getProductStockInfoOnSale(it,idx){
				if( it.prod_stock_sync )return
				console.log(`getProductStockInfoOnSale: ${it.prod_barcode}`)
				it.prod_stock_sync = true
				this.axios.get( `${this.url_products}/${it.id}`,{
					params:{
						prod_barcode: it.prod_barcode,
					},
					headers:{
						'Accept':'application/json'
					}
				})
				.then( response => {
					it.prod_stock_sync = false
					it.prod_stock = response.data.prod_stock
					it.prod_stock_no_unit = response.data.prod_stock_no_unit
					this.$set( this.list_products_for_sale,idx,it )
				})
				.catch( error => {
					it.prod_stock_sync = false
					this.$set( this.list_products_for_sale,idx,it )

				})
			}
		},
		watch:{
			filter_field_value(new_val, old_val){
				if( this.filters.type.selected == 'prod_barcode' && new_val != '' ){
					//this.search_product()
				}
				return
				console.log(new_val,old_val)
			},
		},
		computed:{
			get_total_price_for_sale(){
				let sum = 0
				for(let obj of this.list_products_for_sale){
					try{
						let qq = window.parseInt(obj.prod_quantity)
						qq = Number.isNaN(qq) ? 0 : qq

						if( obj.discount_sale != 'no' ){
							sum += ( Number.isNaN(obj.discount_sale_price) ? 0.0 : window.parseFloat(obj.discount_sale_price) )
						}else{

							if( obj.prod_by_weight == 'yes' ){
								sum += window.parseFloat(obj.prod_price) * ( qq / 1000.0 )
							}else{
								sum += window.parseFloat(obj.prod_price) * qq
							}
						}
					}catch(e){sum += 0.0}
				}
				return `S/. ${sum.toFixed(2)}`
			},
		},
		props:{
			url_products_filter:{
				type:String,
				default:'',
			},
			url_sales_create:{
				type:String,
				default:'',
			},
			url_sales:{
				type:String,
				default:'',
			},
			url_sales_printing_mode:{
				type:String,
				default:'',
				required:false,
			},
			url_products:{
				type:String,
				default:'',
			},
			url_technical_staff:{
				type:String,
				default:'',
			},
			url_sale_types:{
				type:String,
				default:'',
			},
			is_new:{
				type:Boolean,
				default:true,
			},
			current_sale:{
				type:Object,
				default:null,
				required:false,
			},
		}
	}
</script>
<style lang=scss scoped>
	
	.ii{
		display: inline-block;
		color: #7f77ff;	
	}
</style>
