<template>
	<div>
		<b-modal
			id="modal_filter_items_by_order_item_code"
			ref="modal_filter_items_by_order_item_code"
			ok-title="Cerrar cuadro"
			title="Filtro de items por código de item"
			ok-variant=dark
			ok-only size=md >
			<b-form-group label="Código de item">
			  <b-input-group>
			    <template v-slot:append>
						<b-btn 
							size=sm
							variant=danger
							@click=" filter_items.order_item_code = '' ">
							<fai icon=times />
						</b-btn>
			    </template>
			    <b-form-input 
			    	v-model="filter_items.order_item_code" />
			  </b-input-group>
			</b-form-group>
			<table 
				class="
					table 
					table-hover 
					table-borderer 
					table-stripped">
				<thead>
					<tr>
						<th>#</th>
						<th>Producto</th>
					</tr>
				</thead>
				<tbody v-if=" filter_items_by_order_item_code.length>0 ">
					<tr 
						v-for=" (it, idx) in filter_items_by_order_item_code " 
						:key="idx">
						<td>{{ idx + 1 }}</td>
						<td>{{ `${it.order_item_code} / ${it.prod_name}` }}</td>
					</tr>
				</tbody>
				<tbody v-else>
					<tr>
						<td colspan=2>0 registros</td>
					</tr>
				</tbody>	
			</table>
		</b-modal>
		<b-modal
			id="modal_filter_items_by_prod_barcode"
			ref="modal_filter_items_by_prod_barcode"
			ok-title="Cerrar cuadro"
			title="Filtro de items por código de barra"
			ok-variant=dark
			ok-only size=md >
			<b-form-group label="Código de barra">
			  <b-input-group>
			    <template v-slot:append>
						<b-btn 
							size=sm
							variant=danger
							@click=" filter_items.prod_barcode = '' ">
							<fai icon=times />
						</b-btn>
			    </template>
			    <b-form-input 
			    	v-model="filter_items.prod_barcode" />
			  </b-input-group>
			</b-form-group>
			<table 
				class="
					table 
					table-hover 
					table-borderer 
					table-stripped">
				<thead>
					<tr>
						<th>#</th>
						<th>Producto</th>
					</tr>
				</thead>
				<tbody v-if=" filter_items_by_prod_barcode.length>0 ">
					<tr 
						v-for=" (it, idx) in filter_items_by_prod_barcode " 
						:key="idx">
						<td>{{ idx + 1 }}</td>
						<td>{{ `${it.prod_barcode} / ${it.prod_name}` }}</td>
					</tr>
				</tbody>
				<tbody v-else>
					<tr>
						<td colspan=2>0 registros</td>
					</tr>
				</tbody>	
			</table>
		</b-modal>
		<b-modal 
			id="modal_excel_report"
			ref="modal_excel_report"
			ok-title="Cerrar cuadro"
			title="Reportes excel"
			ok-variant=dark
			ok-only
			:no-close-on-esc="true" 
			:no-close-on-backdrop="true" 
		>
			<b-card title="Exportar todo">
				<a :href="`${server_url}/exportar-excel-todo`" target="_blank">
					<b-btn variant=success size=sm>
						<fai :icon="['far','file-excel']" /> Exportar
					</b-btn>
				</a>
			</b-card>
		</b-modal>
		<b-modal 
			id="modal_moto_model_form" 
			ref="modal_moto_model_form" 
			:title=" `${moto_models.reg_form.id ? 'Actualizar' : 'Crear'} modelo de moto` "
			size=md
			cancel-title="Cerrar cuadro"
			:ok-title=" moto_models.reg_form.id ? 'Editar' : 'Crear' "
			@ok=" procMotoModel "
			:no-close-on-esc="true" 
			:no-close-on-backdrop="true" 
		>
			<b-form-group
	      label="Modelo de moto"
	    >
	      <b-form-input 
	      	v-model=" moto_models.reg_form.mo_name " 
	      	trim />
	    </b-form-group>
		</b-modal>
		<b-modal 
			id="modal_receipt_type_form" 
			ref="modal_receipt_type_form" 
			:title=" `${receipt_types.reg_form.id ? 'Actualizar' : 'Crear'} tipo de comprobante` "
			size=md
			cancel-title="Cerrar cuadro"
			:ok-title=" receipt_types.reg_form.id ? 'Editar' : 'Crear' "
			@ok=" procReceiptType "
			:no-close-on-esc="true" 
			:no-close-on-backdrop="true" 
		>
			<b-form-group
	      label="Tipo de comprobante"
	    >
	      <b-form-input 
	      	v-model=" receipt_types.reg_form.rt_name " 
	      	trim />
	    </b-form-group>
		</b-modal>
		<b-modal 
			id="modal_supplier_form" 
			ref="modal_supplier_form" 
			:title=" `${suppliers.reg_form.id ? 'Actualizar' : 'Crear'} proveedor` "
			size=md
			cancel-title="Cerrar cuadro"
			:ok-title=" suppliers.reg_form.id ? 'Editar' : 'Crear' "
			@ok=" procSupplier "
			:no-close-on-esc="true" 
			:no-close-on-backdrop="true" 
		>
			<b-form-group
	      label="Proveedor"
	    >
	      <b-form-input 
	      	v-model=" suppliers.reg_form.sup_name " 
	      	trim />
	    </b-form-group>
			<b-form-group
	      label="#Documento"
	    >
	      <b-form-input 
	      	v-model=" suppliers.reg_form.sup_document " 
	      	trim />
	    </b-form-group>
			<b-form-group
	      label="Tipo de documento"
	    >
	      <b-form-select 
	      	v-model=" suppliers.reg_form.sup_document_type.selected " 
	      	:options=" suppliers.reg_form.sup_document_type.options " />
	    </b-form-group>
		</b-modal>
		<b-modal 
			id="modal_moto_models"
			ref="modal_moto_models" 
			size=lg 
			ok-title="Cerrar cuadro"
			ok-only
			ok-variant=dark
		>
			<template v-slot:modal-header>
				<h5>
					Modelos de motos 
					<b-btn 
						@click=" addMotoModel "
						v-b-modal.modal_moto_model_form
						variant=success 
						size=sm>
						<fai icon=plus />
					</b-btn>
				</h5>
			</template>
			<b-form-checkbox 
				:disabled=" moto_models.wait_list "
				class="noselect"
	      v-model="moto_models.show_deleted"
	      name="moto-models-show-deleted"
	      value="1"
	      unchecked-value="0"
    	>
      Mostrar eliminados
    	</b-form-checkbox>
			<b-pagination
			  v-model=" moto_models.currentPage "
			  :total-rows=" moto_models.totalRows "
			  :per-page=" moto_models.rowsPerPage "
			/>
    	<b-alert variant=success show>
    		Total: {{ moto_models.totalRows }}
    	</b-alert>
    	<b-input-group size=sm class="mb-1">
		    <b-form-input 
		    	placeholder="Buscar modelo de moto" 
		    	v-model=" moto_models.search_value " 
		    	v-on:keyup.enter=" getAllMotoModels "
		    	/>
		    <template v-slot:append>
		    	<b-btn 
		    		@click=" getAllMotoModels "
		    		size=sm 
		    		variant=success>
						<b-spinner 
							v-if=" moto_models.wait_list "
							label="Spinning" 
							variant=light 
							small />
						<fai v-else icon=sync /> Buscar
		    	</b-btn>
		    </template>
		    <template v-slot:prepend>
		    	<b-btn 
		    		@click=" moto_models.search_value = '' "
		    		size=sm 
		    		variant=danger>
						<fai icon=times />
		    	</b-btn>
		    </template>
		  </b-input-group>
			<table 
				class="
					table 
					table-hover 
					table-borderer 
					table-stripped">
				<thead>
					<tr>
						<th>
							<b-btn
								variant=success 
								size=sm 
								@click=" getAllMotoModels "
							>
								<b-spinner 
									v-if=" moto_models.wait_list "
									label="Spinning" 
									variant=light 
									small />
								<fai v-else icon=sync />
							</b-btn>
						</th>
						<th>Modelo</th>
						<th></th>
					</tr>
				</thead>
				<tbody v-if=" moto_models.list.length > 0 ">
					<tr v-for=" (it, idx) in moto_models.list " :class="{deleted: it.deleted_at}" :key="idx">
						<td>{{ ( moto_models.currentPage - 1 ) * moto_models.rowsPerPage + idx + 1 }}</td>
						<td>{{ it.mo_name }}</td>
						<td>
							<b-btn 
								v-show=" !it.deleted_at " 
								class="mb-2" 
								@click=" editMotoModel(it) "
								v-b-modal.modal_moto_model_form
								variant=primary 
								size=sm>
								<fai icon=edit />
							</b-btn>
							<b-btn  
								class="mb-2" 
								@click=" delMotoModel(it) "
								:variant="`${it.deleted_at ? 'warning' : 'danger'}`" 
								size=sm>
								<fai icon=trash />
							</b-btn>
						</td>
					</tr>
				</tbody>
				<tbody v-else>
					<tr>
						<td colspan=3>0 modelos</td>
					</tr>
				</tbody>
			</table>
		</b-modal>
		<b-modal 
			id="modal_receipt_types"
			ref="modal_receipt_types" 
			size=lg 
			ok-title="Cerrar cuadro"
			ok-only
			ok-variant=dark
			:no-close-on-esc="true" 
			:no-close-on-backdrop="true" 
		>
			<template v-slot:modal-header>
				<h5>
					Tipos de comprobantes 
					<b-btn 
						@click=" addReceiptType "
						v-b-modal.modal_receipt_type_form
						variant=success 
						size=sm>
						<fai icon=plus />
					</b-btn>
				</h5>
			</template>
			<b-form-checkbox 
				:disabled=" receipt_types.wait_list "
				class="noselect"
	      v-model="receipt_types.show_deleted"
	      name="moto-models-show-deleted"
	      value="1"
	      unchecked-value="0"
    	>
      Mostrar eliminados
    	</b-form-checkbox>
			<table 
				class="
					table 
					table-hover 
					table-borderer 
					table-stripped">
				<thead>
					<tr>
						<th>
							<b-btn 
								variant=success 
								size=sm 
								@click=" getAllReceiptTypes "
							>
								<b-spinner 
									v-if=" receipt_types.wait_list "
									label="Spinning" 
									variant=light 
									small />
								<fai v-else icon=sync />
							</b-btn>
						</th>
						<th>Tipo de comprobante</th>
						<th></th>
					</tr>
				</thead>
				<tbody v-if=" receipt_types.list.length > 0 ">
					<tr v-for=" (it, idx) in receipt_types.list " :class="{deleted: it.deleted_at}" :key="idx">
						<td>{{ idx + 1 }}</td>
						<td>{{ it.rt_name }}</td>
						<td>
							<b-btn v-show=" !it.deleted_at "
								@click=" editReceiptType(it) "
								v-b-modal.modal_receipt_type_form
								variant=primary 
								size=sm>
								<fai icon=edit />
							</b-btn>
							<b-btn 
								@click=" delReceiptType(it) "
								:variant="`${it.deleted_at ? 'warning' : 'danger'}`" 
								size=sm>
								<fai icon=trash />
							</b-btn>
						</td>
					</tr>
				</tbody>
				<tbody v-else>
					<tr>
						<td colspan=3>0 tipos de comprobantes</td>
					</tr>
				</tbody>
			</table>
		</b-modal>
		<b-modal 
			id="modal_suppliers"
			ref="modal_suppliers" 
			size=lg 
			ok-title="Cerrar cuadro"
			ok-only
			ok-variant=dark
			:no-close-on-esc="true" 
			:no-close-on-backdrop="true" 
		>
			<template v-slot:modal-header>
				<h5>
					Proveedores de repuestos/insumos de motos 
					<b-btn 
						@click=" addSupplier "
						v-b-modal.modal_supplier_form
						variant=success 
						size=sm>
						<fai icon=plus />
					</b-btn>
				</h5>
			</template>
			<b-form-checkbox 
				:disabled=" suppliers.wait_list "
				class="noselect"
	      v-model="suppliers.show_deleted"
	      name="suppliers-show-deleted"
	      value="1"
	      unchecked-value="0"
    	>
      Mostrar eliminados
    	</b-form-checkbox>
			<table 
				class="
					table 
					table-hover 
					table-borderer 
					table-stripped">
				<thead>
					<tr>
						<th>
							<b-btn 
								variant=success 
								size=sm 
								@click=" getAllSuppliers "
							>
								<b-spinner 
									v-if=" suppliers.wait_list "
									label="Spinning" 
									variant=light 
									small />
								<fai v-else icon=sync />
							</b-btn>
						</th>
						<th>Proveedor</th>
						<th></th>
					</tr>
				</thead>
				<tbody v-if=" suppliers.list.length > 0 ">
					<tr v-for=" (it, idx) in suppliers.list " :class="{deleted: it.deleted_at }" :key="idx">
						<td>{{ idx + 1 }}</td>
						<td>{{ it.sup_name }}</td>
						<td>
							<b-btn v-show=" !it.deleted_at "
								@click=" editSupplier(it) "
								v-b-modal.modal_supplier_form
								variant=primary 
								size=sm>
								<fai icon=edit />
							</b-btn>
							<b-btn 
								@click=" delSupplier(it) "
								:variant="`${it.deleted_at ? 'warning' : 'danger'}`" 
								size=sm>
								<fai icon=trash />
							</b-btn>
						</td>
					</tr>
				</tbody>
				<tbody v-else>
					<tr>
						<td colspan=3>0 proveedores</td>
					</tr>
				</tbody>
			</table>
		</b-modal>
		<b-modal 
			id="modal_item_form" 
			ref="modal_item_form" 
			:title=" `${order_item_form.id ? 'Actualizar' : 'Crear'} item` "
			size=md
			cancel-title="Cerrar cuadro"
			:ok-title="`${order_item_form.id ? 'Actualizar': 'Crear'} item`"
			@ok="procItem"
			:no-close-on-esc="true" 
			:no-close-on-backdrop="true" 
		>
			<b-form-group
	      label="Producto"
	    >
	      <b-form-input 
	      	v-model=" order_item_form.prod_name " 
	      	trim />
	    </b-form-group>
	    <div class=" current-stock " v-if=" synchronized.motorcycle_part && synchronized.motorcycle_part.prod_barcode == order_item_form.prod_barcode ">
	    	<ul>
	    		<li>
	    			Stock existente: {{ synchronized.motorcycle_part.prod_stock }} {{
			    		synchronized.motorcycle_part.prod_stock_no_unit > 0 ? `+ ${(
			    			synchronized.motorcycle_part.prod_stock_no_unit / 1000.0 ).toFixed(3)}` : ''
			    	}}
	    		</li>
	    		<li>
	    			Precio de venta: {{ synchronized.motorcycle_part.prod_price }}
	    		</li>
	    	</ul>
	    </div>
	    <b-row>
	    	<b-col lg=6 md=12 sm=12>
					<b-form-group
			    >
			    	<label class="mb-1">
			    		Código de barra 
			    		<b-btn 
			    			variant=success 
			    			size=sm 
			    			@click="syncMotorcyclePart">
								<b-spinner 
									v-if=" synchronized.motorcycle_part_wait "
									label="Spinning" 
									variant=light 
									small />
								<fai v-else icon=sync />
			    		</b-btn>
			    	</label>
			      <b-form-input 
			      	v-model=" order_item_form.prod_barcode " 
			      	v-on:keyup.enter=" syncMotorcyclePart "
			      	trim />
			    </b-form-group>
	    	</b-col>
	    	<b-col lg=6 md=12 sm=12>
					<b-form-group
			    >
			    	<label class="mb-2">Código item</label>
			      <b-form-input 
			      	v-model=" order_item_form.order_item_code " 
			      	trim />
			    </b-form-group>
	    	</b-col>
	    	<b-col lg=6 md=12 sm=12>
					<b-form-group
			    >
			    	<label class="mb-1">
			    		Modelo de moto 
			    		<b-btn 
			    			variant=success 
			    			size=sm 
			    			@click=" getAllMotoModels(true) ">
									<b-spinner 
										v-if=" moto_models.wait_list "
										label="Spinning" 
										variant=light 
										small />
									<fai v-else icon=sync />
			    			</b-btn>
			    	</label>
			      <b-form-select 
			      	v-model=" order_item_form.motorcycle_model.selected " 
			      	:options=" order_item_form.motorcycle_model.options " />
			    </b-form-group>
	    	</b-col>
	    	<b-col lg=6 md=12 sm=12>
					<b-form-group
			    >
			    	<label class="mb-2">
			    		Cantidad 
			    	</label>
			      <b-form-input 
			      	type=number
			      	v-model.number=" order_item_form.order_item_quantity " 
			      	trim />
							<b-form-checkbox v-if=" synchronized.motorcycle_part && synchronized.motorcycle_part.prod_barcode == order_item_form.prod_barcode " 
								v-model=" order_item_form.add_to_current_stock "
								value="yes"
								unchecked-value="no" 
								class="noselect"
							>
							Añadir a stock existente
							</b-form-checkbox>
			    </b-form-group>
	    	</b-col>
	    	<b-col lg=6 md=12 sm=12>
					<b-form-group
			      label="Descuento (%)"
			    ><b-form-input 
			      	type=number 
			      	min="0" 
			      	max="100"
			      	v-model.number=" order_item_form.order_item_percent_discount " 
			      	trim />
			    </b-form-group>
	    	</b-col>
	    </b-row>
	    <b-row>
	    	<b-col lg=6 md=12 sm=12>
					<b-form-group
			      :label="`Precio unitario de compra ${ order_item_form.order_item_percent_discount > 0 ? `(Con descuento ${ ( calc_order_item_final_price(order_item_form,false) ).toFixed(2) })` : '' }`"
			    >
			      <b-form-input 
			      	type=number
			      	v-model.number=" order_item_form.prod_unit_price " 
			      	trim />
			    </b-form-group>
	    	</b-col>
	    	<b-col lg=6 md=12 sm=12>
			   	<b-form-group
			      label="Total"
			    >
					
						{{ ( calc_order_item_final_price(order_item_form) ).toFixed(2) }}
			      
			    </b-form-group>
	    	</b-col>
	    </b-row>
	    <b-row>
	    	<b-col lg=6 md=12 sm=12>
					<b-form-group
			      :label="`Precio unitario de venta`"
			    >
			      <b-form-input 
			      	type=number
			      	v-model.number=" order_item_form.prod_unit_price_on_sale " 
			      	trim />
			    </b-form-group>
	    	</b-col>
	    </b-row>
		</b-modal>
		<b-modal 
			id="modal_form" 
			ref="modal_form" 
			:title=" `${reg_form.id ? 'Actualizar' : 'Crear'} adquisición` "
			size=xl
			ok-title="Cerrar cuadro"
			ok-only
			ok-variant=dark
			:no-close-on-esc="true" 
			:no-close-on-backdrop="true" 
		>
			<div class="date-info" v-if=" reg_form.created_at && reg_form.updated_at ">
				<span>Creado el: {{ reg_form.created_at | moment('DD/MM/YYYY hh:mm:ss a') }}</span> 
				<span>Actualizado el: {{ reg_form.updated_at | moment('DD/MM/YYYY hh:mm:ss a') }}</span>
			</div>
			<b-card 
				title="Información básica" 
				title-tag="h5" 
				bg-variant='smooth-yellow'>
				<b-row>
					<b-col lg=6 md=12 sm=12>
						<b-form-group
				      label="Código de Pedido / Cotización"
				    >
				      <b-form-input 
				      	v-model=" reg_form.order_code " 
				      	trim />
				    </b-form-group>
					</b-col>
					<b-col lg=6 md=12 sm=12>
						<b-form-group>
							<div style="padding-bottom: 7px">
								<span>Fecha de compra</span>
							</div>
							<b-input-group>
								<template v-slot:append>
									<b-btn 
										size=sm
										variant=danger
										@click=" reg_form.bought_at.value = '' ">
										<fai icon=times />
									</b-btn>
								</template>
								<date-picker 
								v-model="reg_form.bought_at.value" 
								:config="reg_form.bought_at.options" />
							</b-input-group>
						</b-form-group>
					</b-col>
		    	<b-col lg=6 md=12 sm=12>
						<b-form-group
				      label="#Comprobante"
				    >
				      <b-form-input 
				      	v-model=" reg_form.order_invoice " 
				      	trim />
				    </b-form-group>
		    	</b-col>
		    	<b-col lg=6 md=12 sm=12>
						<b-form-group
				    >
				    	<label class="mb-0">
				    		Tipo de Comprobante 
				    		<b-btn 
				    			variant=success 
				    			size=sm 
				    			@click=" getAllReceiptTypes(true) ">
										<b-spinner 
											v-if=" receipt_types.wait_list "
											label="Spinning" 
											variant=light 
											small />
										<fai v-else icon=sync />
				    			</b-btn>
				    	</label>
				      <b-form-select 
				      	v-model=" reg_form.order_receipt_type.selected " 
				      	:options=" reg_form.order_receipt_type.options " />
				    </b-form-group>
		    	</b-col>
		    	<b-col lg=6 md=12 sm=12>
						<b-form-group
				    >
				    	<label class="mb-0">
				    		Proveedor 
				    		<b-btn 
				    			variant=success 
				    			size=sm 
				    			@click=" getAllSuppliers(true) ">
										<b-spinner 
											v-if=" suppliers.wait_list "
											label="Spinning" 
											variant=light 
											small />
										<fai v-else icon=sync />
				    			</b-btn>
				    	</label>
				      <b-form-select 
				      	v-model=" reg_form.supplier.selected " 
				      	:options=" reg_form.supplier.options " />
				    </b-form-group>
		    	</b-col>
				</b-row>
				<b-btn 
					@click=" proc "
					size=sm 
					variant=primary >
					{{ reg_form.id ? 'Actualizar' : 'Crear' }}
				</b-btn>
			</b-card>
			<b-card v-show=" reg_form.id " class="mt-3">
				<b-card-title title-tag="h4">
					Items 
					<b-btn 
						variant=primary 
						size=sm 
						v-b-modal.modal_item_form
						@click=" addItem ">
						<fai icon=plus /> Agregar item
					</b-btn>
					<a :href="`${server_url}/exportar-excel-todo?by=order_code_invoice&value=${reg_form.order_code}&value1=${reg_form.order_invoice}`" target="_blank">
						<b-btn variant=success size=sm>
							<fai :icon="['far','file-excel']" /> Exportar a excel
						</b-btn>
					</a>
				</b-card-title>
				<label>
				Suma Total: {{ final_total_item_prices.toFixed(2) }}
				</label><br />
				<label>
					Suma Total sin descuento: {{ final_total_item_prices_without_discount.toFixed(2) }}
				</label><br />
				<label>
					Descuento total aplicado: {{ ( final_total_item_prices_without_discount - final_total_item_prices ).toFixed(2) }}
				</label><br />
				<b-form-checkbox 
					:disabled=" items.wait "
					class="noselect"
		      v-model="items.show_deleted"
		      name="show-deleted"
		      value="1"
		      unchecked-value="0"
		  	>
		    Mostrar eliminados
		  	</b-form-checkbox>
				<div class="table_overflow">
					<table 
						class=" 
							table 
							table-hover 
							table-borderer 
							table-stripped">
						<thead>
							<tr>
								<th>
									<b-btn 
										@click=" getAllItems "
										variant=success 
										size=sm>
										<b-spinner 
											v-if=" items.wait "
											label="Spinning" 
											variant=light 
											small />
										<fai v-else icon=sync />
									</b-btn>
								</th>
								<th>
									Código Item 
									<fai icon=search v-b-modal.modal_filter_items_by_order_item_code />
								</th>
								<th>
									Código Barra
									<fai icon=search v-b-modal.modal_filter_items_by_prod_barcode />
								</th>
								<th>Producto</th>
								<th>Cantidad</th>
								<th>Precio unitario de venta</th>
								<th>Precio unitario de compra</th>
								<th>Descuento</th>
								<th>Total</th>
								<th>Modelo de moto</th>
								<th></th>
							</tr>
						</thead>
						<tbody v-if=" items.list.length>0 ">
							<tr 
								v-for=" (it, idx) in items.list " 
								:class="{deleted:it.deleted_at, mark_row_item: markRowItem(it) }" :key="idx">
								<td>{{ idx + 1 }}</td>
								<td>{{ it.order_item_code }}</td>
								<td>{{ it.prod_barcode }}</td>
								<td>{{ it.prod_name }}</td>
								<td>{{ it.order_item_quantity }}</td>
								<td>
									<span>{{ it.prod_unit_price_on_sale && it.prod_unit_price_on_sale!=0 ? it.prod_unit_price_on_sale : 0 }}</span>
								</td>
								<td>
									<span>{{ it.prod_unit_price }}</span>
								</td>
								<td>
									{{ it.order_item_percent_discount }}%

									<div style="display: block; white-space: nowrap">
										(
										Con desc: {{ ( calc_order_item_final_price(it, false) ).toFixed(2) }}
										)
									</div>
								</td>
								<td>
									{{ (  calc_order_item_final_price(it) ).toFixed(2) }}
								</td>
								<td>{{ it.motorcycle_model_record ? it.motorcycle_model_record.mo_name : '-' }}</td>
								<td>
									<b-btn v-if="!it.deleted_at"
										class="mb-1"
										@click=" editItem(it) "
										v-b-modal.modal_item_form
										variant=primary 
										size=sm>
										<fai icon=edit />
									</b-btn>
									<b-btn 
										class="mb-1"
										@click=" delItem(it) "
										:variant="`${it.deleted_at ? 'warning' : 'danger'}`" 
										size=sm>
										<fai icon=trash />
									</b-btn>
								</td>
							</tr>
						</tbody>
						<tbody v-else>
							<tr>
								<td colspan="11">0 items</td>
							</tr>
						</tbody>
					</table>
				</div>
			</b-card>
		</b-modal>
		<h5>
			Adquisiciones de respuestos / moto partes
			<b-btn 
				size=sm
				@click="add"
				variant=success
				v-b-modal.modal_form>
				<fai icon=plus />
			</b-btn>
			<b-btn 
				size=sm 
				v-b-modal.modal_excel_report
				variant=success>
				<fai :icon="['far','file-excel']" />
			</b-btn>
			<b-btn 
				size=sm
				variant=primary
				v-b-modal.modal_moto_models>
				Modelos de motos
			</b-btn>
			<b-btn 
				size=sm
				variant=primary
				v-b-modal.modal_suppliers>
				Proveedores
			</b-btn>
			<b-btn 
				size=sm
				variant=primary
				v-b-modal.modal_receipt_types>
				Tipos de comprobantes
			</b-btn>
		</h5>
  	<b-card 
  		title="Búsqueda" 
  		v-show=" search_form.show ">
  		<b-row>
  			<b-col lg=4 md=6 sm=12>
  				<b-form-group label="Código de Pedido / Cotización">
						<b-input-group>
							<template v-slot:append>
								<b-btn 
									variant=danger 
									size=sm 
									@click=" search_form.order_code = '' ">
									<fai icon=times />
								</b-btn>
							</template>
	  					<b-input 
	  						placeholder="Código de Pedido / Cotización" 
	  						v-model=" search_form.order_code " 
	  						v-on:keyup.enter=" getAll " />
						</b-input-group>
  				</b-form-group>
  			</b-col>
  			<b-col lg=4 md=6 sm=12>
  				<b-form-group label="Comprobante">
						<b-input-group>
							<template v-slot:append>
								<b-btn 
									variant=danger 
									size=sm 
									@click=" search_form.order_invoice = '' ">
									<fai icon=times />
								</b-btn>
							</template>
	  					<b-input 
	  						placeholder="Comprobante" 
	  						v-model=" search_form.order_invoice " 
	  						v-on:keyup.enter=" getAll " />
						</b-input-group>
  				</b-form-group>
  			</b-col>
  			<b-col lg=4 md=6 sm=12>
  				<b-form-group label="Código de Item">
						<b-input-group>
							<template v-slot:append>
								<b-btn 
									variant=danger 
									size=sm 
									@click=" search_form.order_item_code = '' ">
									<fai icon=times />
								</b-btn>
							</template>
	  					<b-input 
	  						placeholder="Código de Item" 
	  						v-model=" search_form.order_item_code " 
	  						v-on:keyup.enter=" getAll " />
						</b-input-group>
  				</b-form-group>
  			</b-col>
  			<b-col lg=4 md=6 sm=12>
  				<b-form-group>
  					<label>Fecha de compra</label>
						<b-input-group>
							<template v-slot:append>
								<b-btn 
									variant=danger 
									size=sm 
									@click=" search_form.bought_at.value = '' ">
									<fai icon=times />
								</b-btn>
							</template>
							<date-picker 
								:placeholder="`Ejemplo: ${$moment().format('DD/MM/YYYY')}`"
								v-model="search_form.bought_at.value" 
								:config="search_form.bought_at.options" 
	  						v-on:keyup.enter=" getAll " />
						</b-input-group>
  				</b-form-group>
  			</b-col>
  		</b-row>
			<b-btn 
				variant=success 
				size=sm 
				@click=" getAll ">
				<b-spinner 
					v-if=" wait_list "
					label="Spinning" 
					variant=light 
					small /> Buscar
			</b-btn>
  	</b-card>
		<b-dropdown 
			:text="`${rowsPerPage} por página`" 
			variant="primary" 
			size=sm
			class="m-2">
	    <b-dropdown-item 
	    	href="#" 
	    	v-for="(it, idx) in [20,50,100,150,200]" :key="idx"
	    	@click=" rowsPerPage = it ">{{it}} registros</b-dropdown-item>
	  </b-dropdown>

		<b-pagination
		  v-model=" currentPage "
		  :total-rows=" totalRows "
		  :per-page=" rowsPerPage "
		/>
		<b-form-checkbox 
			:disabled=" wait_list "
			class="noselect"
      v-model="show_deleted"
      name="show-deleted"
      value="1"
      unchecked-value="0"
  	>
    Mostrar eliminados
  	</b-form-checkbox>
  	<b-alert 
  		variant="success" 
  		show>Total de registros: {{ totalRows }}</b-alert>
  	<div>
  		<b-spinner 
				v-if=" distinct_items.wait "
				label="Spinning" 
				variant=dark 
				small />
  		<fai icon=sync v-else @click=" getAll('distinct_items') " />
  		Total de items distintos: {{ distinct_items.total ? distinct_items.total : '--' }}
  	</div>
  	<div class="table-container2">
  		<table
				class=" 
					table-supplier
					table 
					table-hover 
					table-borderer 
					table-stripped">
				<thead>
					<tr>
						<th>
							<b-btn 
								variant=success 
								size=sm 
								@click=" getAll ">
								<b-spinner 
									v-if=" wait_list "
									label="Spinning" 
									variant=light 
									small />
								<fai v-else icon=sync />
							</b-btn>
						</th>
						<th>Código de Pedido / Cotización</th>
						<th>Comprobante / Factura</th>
						<th style="min-width: 90px;">Items</th>
						<th>Comprado el</th>
						<th>Creado el</th>
						<th>Actualizado el</th>
						<th>
							<!--
							<b-btn 
								@click=" search_form.show = !search_form.show " 
								variant=dark 
								size=sm>
								<fai icon=search />
							</b-btn>
							-->
						</th>
					</tr>
				</thead>
				<tbody v-if=" list.length>0 ">
					<tr v-for=" (it, idx) in list " :class="{deleted: it.deleted_at}" :key="idx">
						<td>{{ ( currentPage - 1 ) * rowsPerPage + idx + 1 }}</td>
						<td>{{ it.order_code }}</td>
						<td>
							<div>{{ `${it.order_invoice} ${it.order_receipt_type ? ` / ${it.order_receipt_type.rt_name}` : ''}` }}</div>
							<div>
								<i>{{ it.supplier ? it.supplier.sup_name : '' }}</i>
							</div>
						</td>
						<td>
							{{ it.order_items.length }}
							<div v-if=" it.order_items_deleted.length >0 ">
								(Elim: {{ it.order_items_deleted.length }})
							</div>
						</td>
						<td>{{ get_bought_at(it.bought_at) }}</td>
						<td>
							<span>
								{{ it.created_at | moment('DD/MM/YYYY hh:mm:ss a') }}
							</span><br />
							<strong v-if="!!it.deleted_at">
								Eliminado el día: 
								{{ it.deleted_at | moment('DD/MM/YYYY hh:mm:ss a') }}
							</strong>
						</td>
						<td>
							{{ it.updated_at | moment('DD/MM/YYYY hh:mm:ss a') }}
						</td>
						<td>
							<b-btn v-show=" !it.deleted_at "
								@click="edit(it)" 
								v-b-modal.modal_form
								size=sm 
								class="mb-1"
								variant=primary>
								<fai icon=edit />
							</b-btn>
							<b-btn 
								@click="del(it)"
								size=sm 
								class="mb-1"
								:variant=" it.deleted_at ? 'warning' : 'danger' " 
								>
								<fai icon=trash />
							</b-btn>
						</td>
					</tr>
				</tbody>
				<tbody v-else>
					<tr>
						<td colspan=8>Sin registros</td>
					</tr>
				</tbody>
			</table>
  	</div>
	</div>
</template>

<script>
	export default {
		data(){
			return {
				list:[],
				items:{
					show_deleted:0,
					list:[],
					wait:false,
				},
				distinct_items:{
					wait: false,
					total: null,
				},
				filter_items_by_order_item_code_list:[],
				filter_items_by_prod_barcode_list:[],
				filter_items:{
					order_item_code:'',
					prod_barcode:'',
				},
				wait_list:false,
				show_deleted:0,
				rowsPerPage:20,
				totalPages:1,
				totalRows:1,
				currentPage:1,
				order_item_form:{
					id:null,
					order_id:null,
					order_item_code:'',
					prod_name:'',
					prod_barcode:'',
					order_item_quantity:0,
					prod_unit_price:0,
					prod_unit_price_on_sale:0,
					order_item_percent_discount:0,
					order_item_total_price:0,
					motorcycle_model:{
						selected:null,
						options:[],
					},
					add_to_current_stock:'no',
					created_at:'',
					updated_at:'',
					deleted_at:'',
					wait:false,
				},
				reg_form:{
					id:null,
					order_code:'',
					order_invoice:'',
					wait:false,
					bought_at:{
						value:'',
						options:{
							debug: false,
							format: 'L',
							timeZone:process.env.APP_TIMEZONE,
							locale:'es',
							useCurrent: true,
							defaultDate: '',
							icons: {
								time: 'fa fa-clock',
								date: 'fa fa-calendar',
								up: 'fa fa-arrow-up',
								down: 'fa fa-arrow-down',
								previous: 'fa fa-chevron-left',
								next: 'fa fa-chevron-right',
								today: 'fa fa-calendar-check',
								clear: 'fa fa-trash-alt',
								close: 'fa fa-times-circle'
							} 
						},
					},
					supplier:{
						selected:null,
						options:[],
					},
					order_receipt_type:{
						selected:null,
						options:[],
					},
					created_at:'',
					updated_at:'',
					deleted_at:'',
				},
				receipt_types:{
					reg_form:{
						id:null,
						rt_name:'',
						created_at:'',
						updated_at:'',
						deleted_at:'',
						wait:false,
					},
					show_deleted:0,
					list:[],
					wait_list:false,
				},
				moto_models:{
					reg_form:{
						id:null,
						mo_name:'',
						created_at:'',
						updated_at:'',
						deleted_at:'',
						wait:false,
					},
					show_deleted:0,
					search_value:'',
					list:[],
					wait_list:false,
					rowsPerPage:20,
					totalPages:1,
					totalRows:1,
					currentPage:1,
				},
				suppliers:{
					reg_form:{
						id:null,
						sup_name:'',
						sup_document:'',
						sup_document_type:{
							selected:null,
							options:[
								{text:'SELECCIONAR',value: null},
								{text:'DNI',value: 'DNI'},
								{text:'RUC',value: 'RUC'},
							],
						},
						created_at:'',
						updated_at:'',
						deleted_at:'',
						wait:false,
					},
					show_deleted:0,
					list:[],
					wait_list:false,
				},
				synchronized:{
					motorcycle_part_wait:false,
					motorcycle_part:null
				},
				search_form:{
					show:true,
					order_code:'',
					order_invoice:'',
					order_item_code:'',
					bought_at:{
						value:'',
						options:{
							debug: false,
							format: 'L',
							timeZone:process.env.APP_TIMEZONE,
							locale:'es',
							useCurrent: true,
							defaultDate: '',
							icons: {
								time: 'fa fa-clock',
								date: 'fa fa-calendar',
								up: 'fa fa-arrow-up',
								down: 'fa fa-arrow-down',
								previous: 'fa fa-chevron-left',
								next: 'fa fa-chevron-right',
								today: 'fa fa-calendar-check',
								clear: 'fa fa-trash-alt',
								close: 'fa fa-times-circle'
							} 
						},
					},
				},
			}
		},
		mounted() {
			console.log('Component mounted.')
			this.getAll()
			this.getAllMotoModels()
			this.getAllSuppliers()
			this.getAllReceiptTypes()
		},
		methods:{
			markRowItem(it){
				let flag = false
				if(this.filter_items.prod_barcode != ''){
					flag = (new RegExp(this.filter_items.prod_barcode,'i')).test(it.prod_barcode)
				}
				if(this.filter_items.order_item_code != '' && !flag){
					flag = (new RegExp(this.filter_items.order_item_code,'i')).test(it.order_item_code)
				}
				return flag
			},
			syncMotorcyclePart(){
				if(this.synchronized.motorcycle_part_wait)return
				this.synchronized.motorcycle_part_wait = true
				this.axios.get(`${this.server_url_motorcycle_parts}/info`,{
					params:{
						barcode:this.order_item_form.prod_barcode
					},
					headers:{
						'Accept': 'application/json',
					}
				}).then(response =>{
					console.log(response.data)
					this.synchronized.motorcycle_part_wait = false
					this.synchronized.motorcycle_part = response.data

					this.order_item_form.prod_barcode = response.data.prod_barcode
					this.order_item_form.prod_name = response.data.prod_name
					this.order_item_form.prod_unit_price_on_sale = response.data.prod_price

					Swal.fire({
						title:`Producto encontrado: '${response.data.prod_name}'`,
						icon:'info'
					})

				}).catch(error =>{
					console.log(error)
					this.synchronized.motorcycle_part_wait = false
					this.synchronized.motorcycle_part = null
					Swal.fire({
						title:'Producto NO encontrado',
						icon:'warning'
					})
				}).then(()=>{
					this.order_item_form.add_to_current_stock = 'no'
				})
			},
			get_bought_at(tt){
				if(tt){
					return this.$moment(tt,'YYYY-MM-DD').format('DD/MM/YYYY')
				}
				return '-'
			},
			add(){
				this.reg_form.id = null 
				this.reg_form.order_code = '' 
				this.reg_form.order_invoice = '' 
				this.reg_form.bought_at.value = '' 
				this.reg_form.supplier.selected = null 
				this.reg_form.created_at = '' 
				this.reg_form.updated_at = '' 
				this.reg_form.deleted_at = '' 

				this.synchronized.motorcycle_part = null
			},
			edit(it){
				console.log(" editando " , it)
				this.reg_form.id = it.id 
				this.reg_form.order_code 		= it.order_code 
				this.reg_form.order_invoice = it.order_invoice 
				this.reg_form.created_at 		= it.created_at 
				this.reg_form.updated_at 		= it.updated_at 
				this.reg_form.deleted_at 		= it.deleted_at 
				const bought_at = it.bought_at ? this.$moment(it.bought_at,'YYYY-MM-DD').format('DD/MM/YYYY') : ''
				this.reg_form.bought_at.value = bought_at
				this.reg_form.supplier.selected = it.order_supplier ? it.order_supplier.id : null
				this.reg_form.order_receipt_type.selected = it.order_receipt_type_id ? it.order_receipt_type.id : null

				this.items.list = it.order_items
				this.getAllMotoModels(true)
				this.getAllSuppliers(true)
				this.getAllReceiptTypes(true)

				this.synchronized.motorcycle_part = null
			},
			del(it){
				Swal.fire({
					title: `${ it.deleted_at ? 'Restaurar' : 'Eliminar' } adquisición ?`,
					text: `${it.deleted_at ? '' : 'Esta operación puede ser restaurada'}`,
					icon: 'warning',
					showCancelButton: true,
					confirmButtonColor: '#3085d6',
					cancelButtonColor: '#d33',
					cancelButtonText: 'Cancelar operación',
					confirmButtonText: 'Si'
				}).then((result) => {
					if (result.value) {
						if(this.reg_form.wait)return
						this.reg_form.wait = true
						this.axios.delete(`${this.server_url}/${it.id}`,{
							headers:{
								'Content-Type':'application/json',
								'Accept': 'application/json',
							}
						}).then((response) => {
							this.reg_form.wait = false
							Swal.fire({
								title:`Adquisición ${ it.deleted_at ? 'restaurada' : 'eliminada' }`,
								icon:'success'
							})
							this.getAll()
						}).catch((error) => {
							this.reg_form.wait = false
							Swal.fire({
								title:`Error al ${ it.deleted_at ? 'restaurar' : 'eliminar' } la adquisición`,
								icon:'warning'
							})

						})
					}
				})

			},
			delItem(it){
				Swal.fire({
					title: `${ it.deleted_at ? 'Restaurar' : 'Eliminar' } item de adquisición ?`,
					text: `${it.deleted_at ? '' : 'Esta operación puede ser restaurada'}`,
					icon: 'warning',
					showCancelButton: true,
					confirmButtonColor: '#3085d6',
					cancelButtonColor: '#d33',
					cancelButtonText: 'Cancelar operación',
					confirmButtonText: 'Si'
				}).then((result) => {
					if (result.value) {
						if(this.order_item_form.wait)return
						this.order_item_form.wait = true
						this.axios.delete(`${this.server_url}/items/${it.id}`,{
							headers:{
								'Content-Type':'application/json',
								'Accept': 'application/json',
							}
						}).then((response) => {
							this.order_item_form.wait = false
							Swal.fire({
								title:`Item de adquisición ${ it.deleted_at ? 'restaurada' : 'eliminada' }`,
								icon:'success'
							})
							this.getAllItems()
						}).catch((error) => {
							this.order_item_form.wait = false
							Swal.fire({
								title:`Error al ${ it.deleted_at ? 'restaurar' : 'eliminar' } el item de la adquisición`,
								icon:'warning'
							})

						})
					}
				})

			},
			proc(modal_event){

				if(modal_event)modal_event.preventDefault()
				if(this.reg_form.wait)return
				if(!this.reg_form.supplier.selected){
					Swal.fire({
						title:'Seleccione el proveedor',
						icon:'info'
					})
					return
				}
				Swal.fire({
					title: `${this.reg_form.id ? 'Modificar adquisición ?' : 'Agregar adquisición ?'}`,
					text: "",
					icon: 'warning',
					showCancelButton: true,
					confirmButtonColor: '#3085d6',
					cancelButtonColor: '#d33',
					cancelButtonText: 'Cancelar operación',
					confirmButtonText: 'Si'
				}).then((result) => {
					if (result.value) {
						this.reg_form.wait = true
						
						const data = {...this.reg_form}
						data.bought_at = this.reg_form.bought_at.value ? this.$moment(this.reg_form.bought_at.value,'DD/MM/YYYY').format('YYYY-MM-DD') : ''
						data.supplier_id = this.reg_form.supplier.selected
						data.order_receipt_type_id = this.reg_form.order_receipt_type.selected

						console.log('updating or creating',data)
						this.axios.post(this.server_url,data,{
							headers:{
								'Content-Type':'application/json',
								'Accept': 'application/json',
							}
						}).then((response) => {
							console.log(response)
							this.reg_form.wait = false
							Swal.fire({
								title:`Adquisición ${ this.reg_form.id ? 'actualizada' : 'creada' }`,
								icon:'success'
							})

							for(const idx in response.data){
								const obj = response.data[idx]
								if(idx in this.reg_form){
									if( idx == 'bought_at' ){
										this.reg_form[idx].value = obj ? this.$moment(obj,'YYYY-MM-DD').format('DD/MM/YYYY') : ''
									}else if( idx == 'supplier' && obj.id ){
										this.reg_form[idx].selected = obj.id
									}else if( idx == 'order_receipt_type' && obj.id ){
										this.reg_form[idx].selected = obj.id
									}else{
										this.reg_form[idx] = obj
									}
								}
							}

						}).catch((error) => {
							console.log(error)
							window.pu_error = error
							this.reg_form.wait = false
							Swal.fire({
								title:`Error al ${ this.reg_form.id ? 'actualizar' : 'crear' } adquisición`,
								icon:'warning'
							})

						})
					}
				})
			},
			procMotoModel(modal_event){

				if(modal_event)modal_event.preventDefault()
				if(this.moto_models.reg_form.wait)return
				Swal.fire({
					title: `${this.moto_models.reg_form.id ? 'Modificar modelo de moto ?' : 'Agregar modelo de moto ?'}`,
					text: "",
					icon: 'warning',
					showCancelButton: true,
					confirmButtonColor: '#3085d6',
					cancelButtonColor: '#d33',
					cancelButtonText: 'Cancelar operación',
					confirmButtonText: 'Si'
				}).then((result) => {
					if (result.value) {
					if(this.moto_models.reg_form.wait)return
					this.moto_models.reg_form.wait = true
						
						const data = {...this.moto_models.reg_form}

						console.log('updating or creating',data)
						this.axios.post(this.server_url_moto_models,data,{
							headers:{
								'Content-Type':'application/json',
								'Accept': 'application/json',
							}
						}).then((response) => {
							console.log(response)
							this.moto_models.reg_form.wait = false
							Swal.fire({
								title:`Modelo de moto ${ this.moto_models.reg_form.id ? 'actualizada' : 'creada' }`,
								icon:'success'
							})

							for(const idx in response.data){
								const obj = response.data[idx]
								if(idx in this.moto_models.reg_form){
									this.moto_models.reg_form[idx] = obj
								}
							}
							this.getAllMotoModels()

						}).catch((error) => {
							console.log(error)
							this.moto_models.reg_form.wait = false
							Swal.fire({
								title:`Error al ${ this.moto_models.reg_form.id ? 'actualizar' : 'crear' } modelo de moto`,
								icon:'warning'
							})

						})
					}
				})
			},
			procReceiptType(modal_event){

				if(modal_event)modal_event.preventDefault()
				if(this.receipt_types.reg_form.wait)return
				Swal.fire({
					title: `${this.receipt_types.reg_form.id ? 'Modificar tipo de comprobante ?' : 'Agregar tipo de comprobante ?'}`,
					text: "",
					icon: 'warning',
					showCancelButton: true,
					confirmButtonColor: '#3085d6',
					cancelButtonColor: '#d33',
					cancelButtonText: 'Cancelar operación',
					confirmButtonText: 'Si'
				}).then((result) => {
					if (result.value) {
					if(this.receipt_types.reg_form.wait)return
					this.receipt_types.reg_form.wait = true
						
						const data = {...this.receipt_types.reg_form}

						console.log('updating or creating',data)
						this.axios.post(this.server_url_receipt_types,data,{
							headers:{
								'Content-Type':'application/json',
								'Accept': 'application/json',
							}
						}).then((response) => {
							console.log(response)
							this.receipt_types.reg_form.wait = false
							Swal.fire({
								title:`Tipo de comprobante ${ this.receipt_types.reg_form.id ? 'actualizada' : 'creada' }`,
								icon:'success'
							})

							for(const idx in response.data){
								const obj = response.data[idx]
								if(idx in this.receipt_types.reg_form){
									this.receipt_types.reg_form[idx] = obj
								}
							}
							this.getAllReceiptTypes()

						}).catch((error) => {
							console.log(error)
							this.receipt_types.reg_form.wait = false
							Swal.fire({
								title:`Error al ${ this.receipt_types.reg_form.id ? 'actualizar' : 'crear' } tipo de comprobante`,
								icon:'warning'
							})

						})
					}
				})
			},
			procSupplier(modal_event){

				if(modal_event)modal_event.preventDefault()
				if(this.suppliers.reg_form.wait)return
				Swal.fire({
					text: "",
					title: `${this.suppliers.reg_form.id ? 'Modificar proveedor ?' : 'Agregar proveedor ?'}`,
					icon: 'warning',
					showCancelButton: true,
					confirmButtonColor: '#3085d6',
					cancelButtonColor: '#d33',
					cancelButtonText: 'Cancelar operación',
					confirmButtonText: 'Si'
				}).then((result) => {
					if (result.value) {
						if(this.suppliers.reg_form.wait)return
						this.suppliers.reg_form.wait = true
						
						const data = {...this.suppliers.reg_form}
						data.sup_document_type = this.suppliers.reg_form.sup_document_type.selected

						console.log('updating or creating',data)
						this.axios.post(this.server_url_suppliers,data,{
							headers:{
								'Content-Type':'application/json',
								'Accept': 'application/json',
							}
						}).then((response) => {
							console.log(response)
							this.suppliers.reg_form.wait = false
							Swal.fire({
								title:`Proveedor ${ this.suppliers.reg_form.id ? 'actualizada' : 'creada' }`,
								icon:'success'
							})

							for(const idx in response.data){
								const obj = response.data[idx]
								if(idx in this.suppliers.reg_form){
									if(idx == 'sup_document_type'){
										this.suppliers.reg_form[idx].selected = obj
									}else{
										this.suppliers.reg_form[idx] = obj
									}
								}
							}
							this.getAllSuppliers()

						}).catch((error) => {
							console.log(error)
							this.suppliers.reg_form.wait = false
							Swal.fire({
								title:`Error al ${ this.suppliers.reg_form.id ? 'actualizar' : 'crear' } proveedor`,
								icon:'warning'
							})

						})
					}
				})
			},
			addItem(){

				this.order_item_form.id = null
				this.order_item_form.order_id = null
				this.order_item_form.order_item_code = ''
				this.order_item_form.prod_name = ''
				this.order_item_form.prod_barcode = ''
				this.order_item_form.order_item_quantity = 0
				this.order_item_form.prod_unit_price = 0
				this.order_item_form.prod_unit_price_on_sale = 0
				this.order_item_form.order_item_percent_discount = 0
				this.order_item_form.order_item_total_price = 0
				this.order_item_form.motorcycle_model.selected = null
				this.order_item_form.add_to_current_stock = 'no'
				this.order_item_form.created_at = ''
				this.order_item_form.updated_at = ''
				this.order_item_form.deleted_at = ''

				this.synchronized.motorcycle_part = null

			},
			editItem(it){
				console.log("editItem",it)
				this.order_item_form.id = it.id
				this.order_item_form.order_id = it.order_id
				this.order_item_form.order_item_code = it.order_item_code
				this.order_item_form.prod_name = it.prod_name
				this.order_item_form.prod_barcode = it.prod_barcode
				this.order_item_form.order_item_quantity = it.order_item_quantity
				this.order_item_form.prod_unit_price = it.prod_unit_price
				this.order_item_form.prod_unit_price_on_sale = it.prod_unit_price_on_sale
				this.order_item_form.order_item_percent_discount = it.order_item_percent_discount
				this.order_item_form.order_item_total_price = it.order_item_total_price
				this.order_item_form.motorcycle_model.selected = it.motorcycle_model_id
				this.order_item_form.add_to_current_stock = 'no'
				this.order_item_form.created_at = it.created_at
				this.order_item_form.updated_at = it.updated_at
				this.order_item_form.deleted_at = it.deleted_at

				this.synchronized.motorcycle_part = null

			},
			procItem(modal_event){

				if(modal_event)modal_event.preventDefault()
				if(this.order_item_form.wait)return
				Swal.fire({
					title: `${this.order_item_form.id ? 'Modificar item de adquisición ?' : 'Agregar item de adquisición ?'}`,
					text: "",
					icon: 'warning',
					showCancelButton: true,
					confirmButtonColor: '#3085d6',
					cancelButtonColor: '#d33',
					cancelButtonText: 'Cancelar operación',
					confirmButtonText: 'Si'
				}).then((result) => {
					if (result.value) {
						this.order_item_form.wait = true
						
						const data = {...this.order_item_form}
						data.order_id = this.reg_form.id
						data.motorcycle_model_id = this.order_item_form.motorcycle_model.selected
						if(!data.prod_barcode && data.order_item_code){
							data.prod_barcode = this.order_item_form.order_item_code
						}
						if(data.prod_barcode && !data.order_item_code){
							data.order_item_code = this.order_item_form.prod_barcode
						}

						console.log('updating or creating',data)
						this.axios.post(`${this.server_url}/items`,data,{
							headers:{
								'Content-Type':'application/json',
								'Accept': 'application/json',
							}
						}).then((response) => {
							console.log(response)
							this.order_item_form.wait = false
							Swal.fire({
								title:`Item de adquisición ${ this.order_item_form.id ? 'actualizada' : 'creada' }`,
								icon:'success'
							})

							for(const idx in response.data){
								const obj = response.data[idx]
								if(idx in this.order_item_form){
									this.order_item_form[idx] = obj
								}
							}

							this.getAllItems()

						}).catch((error) => {
							console.log(error)
							this.order_item_form.wait = false
							Swal.fire({
								title:`Error al ${ this.order_item_form.id ? 'actualizar' : 'crear' } item de adquisición`,
								icon:'warning'
							})

						}).then(()=>{
							this.order_item_form.add_to_current_stock = 'no'
						})
					}
				})
			},
			getAll(extra_cond = false){
				if(extra_cond === 'distinct_items'){
					if(this.distinct_items.wait)return
					this.distinct_items.wait = true
					this.distinct_items.total = 'procesando...'
				}else{
					if(this.wait_list)return
					this.wait_list = true
				}

				const params = {
					page:this.currentPage,
					rows_x_page:this.rowsPerPage,
					show_deleted:this.show_deleted,
					extra_cond:( typeof extra_cond !== 'object' ? extra_cond : '' ),
				}

				for(const idx in this.search_form){
					const val = this.search_form[idx]
					if(
						typeof val == 'string' || 
						typeof val == 'boolean' || 
						typeof val == 'number' 
					){
						params[idx] = val
					}
				}

				params.bought_at = this.search_form.bought_at.value

				this.axios.get(`${this.server_url}/list`,{
					params,
					headers:{
						'Accept': 'application/json',
					}
				}).then(response => {

					console.log(response)

					if(extra_cond === 'distinct_items'){
						this.distinct_items.wait = false
						this.distinct_items.total = response.data
					}else{
						this.wait_list = false
						this.list = response.data.records
						this.totalRows = response.data.totalRows
						this.totalPages = response.data.totalPages
						this.rowsPerPage = response.data.rowsPerPage
						this.currentPage = response.data.currentPage || response.data.page
					}
					
				}).catch(error =>{

					console.log(error)

					if(extra_cond === 'distinct_items'){
						this.distinct_items.wait = false
						this.distinct_items.total = 'error'
					}else{
						this.wait_list = false
					}

				}).then(()=>{

				})
			},
			getAllItems(){
				if(!this.reg_form.id)return
				if(this.items.wait)return
				this.items.wait = true
				this.axios.get(`${this.server_url}/items/${this.reg_form.id}`,{
					params:{
						show_deleted:this.items.show_deleted,
					},
					headers:{
						'Accept': 'application/json',
					}
				}).then(response => {

					console.log(response)
					this.items.wait = false
					this.items.list = response.data
					
				}).catch(error =>{

					console.log(error)
					this.items.wait = false

				}).then(()=>{

				})
			},
			addReceiptType(){

				this.receipt_types.reg_form.id = null
				this.receipt_types.reg_form.rt_name = ''
				this.receipt_types.reg_form.created_at = ''
				this.receipt_types.reg_form.updated_at = ''
				this.receipt_types.reg_form.deleted_at = ''

			},
			editReceiptType(it){

				this.receipt_types.reg_form.id = it.id
				this.receipt_types.reg_form.rt_name = it.rt_name
				this.receipt_types.reg_form.created_at = it.created_at
				this.receipt_types.reg_form.updated_at = it.updated_at
				this.receipt_types.reg_form.deleted_at = it.deleted_at

			},
			delReceiptType(it){
				Swal.fire({
					title: `${ it.deleted_at ? 'Restaurar' : 'Eliminar' } tipo de comprobante ${it.rt_name}  ?`,
					text: `${it.deleted_at ? '' : 'Esta operación puede ser restaurada'}`,
					icon: 'warning',
					showCancelButton: true,
					confirmButtonColor: '#3085d6',
					cancelButtonColor: '#d33',
					cancelButtonText: 'Cancelar operación',
					confirmButtonText: 'Si'
				}).then((result) => {
					if (result.value) {
						if(this.receipt_types.reg_form.wait)return
						this.receipt_types.reg_form.wait = true
						this.axios.delete(`${this.server_url_receipt_types}/${it.id}`,{
							headers:{
								'Content-Type':'application/json',
								'Accept': 'application/json',
							}
						}).then((response) => {
							this.receipt_types.reg_form.wait = false
							Swal.fire({
								title:`Tipo de comprobante ${ it.deleted_at ? 'restaurada' : 'eliminada' }`,
								icon:'success'
							})
							this.getAllReceiptTypes()
						}).catch((error) => {
							this.receipt_types.reg_form.wait = false
							Swal.fire({
								title:`Error al ${ it.deleted_at ? 'restaurar' : 'eliminar' } el tipo de comprobante`,
								icon:'warning'
							})

						})
					}
				})

			},
			getAllReceiptTypes(to_options = false){
				if(this.receipt_types.wait_list)return
				this.receipt_types.wait_list = true
				this.axios.get(`${this.server_url_receipt_types}`,{
					params:{
						show_deleted:this.receipt_types.show_deleted,
						to_options: ( to_options === true ? 1 : 0 ),
					},
					headers:{
						'Accept': 'application/json',
					}
				}).then(response => {

					console.log(response)
					this.receipt_types.wait_list = false
					if(to_options === true){
						this.reg_form.order_receipt_type.options = response.data
					}else{
						this.receipt_types.list = response.data
					}
					
				}).catch(error =>{

					console.log(error)
					this.receipt_types.wait_list = false
					this.receipt_types.list = []

				}).then(()=>{

				})
			},
			getAllMotoModels(to_options = false){
				if(this.moto_models.wait_list)return
				this.moto_models.wait_list = true

				const params = {
						show_deleted:this.moto_models.show_deleted,
						to_options: ( to_options === true ? 1 : 0 ),
					}

				params.page = this.moto_models.currentPage
				params.rows_x_page = this.moto_models.rowsPerPage
				params.search_value = this.moto_models.search_value


				this.axios.get(`${this.server_url_moto_models}`,{
					params,
					headers:{
						'Accept': 'application/json',
					}
				}).then(response => {

					console.log(response)
					this.moto_models.wait_list = false
					if(to_options === true){
						this.order_item_form.motorcycle_model.options = response.data
					}else{
						this.moto_models.list = response.data.records
						this.moto_models.totalRows = response.data.totalRows
						this.moto_models.totalPages = response.data.totalPages
						this.moto_models.rowsPerPage = response.data.rowsPerPage
						this.moto_models.currentPage = response.data.currentPage || response.data.page
					}
					
				}).catch(error =>{

					console.log(error)
					this.moto_models.wait_list = false
					this.moto_models.list = []

				}).then(()=>{

				})
			},
			addMotoModel(){

				this.moto_models.reg_form.id = null
				this.moto_models.reg_form.mo_name = ''
				this.moto_models.reg_form.created_at = ''
				this.moto_models.reg_form.updated_at = ''
				this.moto_models.reg_form.deleted_at = ''

			},
			editMotoModel(it){

				this.moto_models.reg_form.id = it.id
				this.moto_models.reg_form.mo_name = it.mo_name
				this.moto_models.reg_form.created_at = it.created_at
				this.moto_models.reg_form.updated_at = it.updated_at
				this.moto_models.reg_form.deleted_at = it.deleted_at

			},
			delMotoModel(it){
				Swal.fire({
					title: `${ it.deleted_at ? 'Restaurar' : 'Eliminar' } modelo de moto ${it.mo_name}  ?`,
					text: `${it.deleted_at ? '' : 'Esta operación puede ser restaurada'}`,
					icon: 'warning',
					showCancelButton: true,
					confirmButtonColor: '#3085d6',
					cancelButtonColor: '#d33',
					cancelButtonText: 'Cancelar operación',
					confirmButtonText: 'Si'
				}).then((result) => {
					if (result.value) {
						if(this.moto_models.reg_form.wait)return
						this.moto_models.reg_form.wait = true
						this.axios.delete(`${this.server_url_moto_models}/${it.id}`,{
							headers:{
								'Content-Type':'application/json',
								'Accept': 'application/json',
							}
						}).then((response) => {
							this.moto_models.reg_form.wait = false
							Swal.fire({
								title:`Modelo de moto ${ it.deleted_at ? 'restaurada' : 'eliminada' }`,
								icon:'success'
							})
							this.getAllMotoModels()
						}).catch((error) => {
							this.moto_models.reg_form.wait = false
							Swal.fire({
								title:`Error al ${ it.deleted_at ? 'restaurar' : 'eliminar' } el modelo de moto`,
								icon:'warning'
							})

						})
					}
				})

			},
			getAllSuppliers(to_options = false){
				if(this.suppliers.wait_list)return
				this.suppliers.wait_list = true
				this.axios.get(`${this.server_url_suppliers}`,{
					params:{
						show_deleted:this.suppliers.show_deleted,
						to_options: ( to_options === true ? 1 : 0 ),
					},
					headers:{
						'Accept': 'application/json',
					}
				}).then(response => {

					console.log(response)
					this.suppliers.wait_list = false
					if(to_options === true){
						this.reg_form.supplier.options = response.data
					}else{
						this.suppliers.list = response.data
					}
					
				}).catch(error =>{

					console.log(error)
					this.suppliers.wait_list = false
					if(to_options === true){
						this.reg_form.supplier.options = []
					}else{
						this.suppliers.list = []
					}

				}).then(()=>{

				})
			},
			addSupplier(){

				this.suppliers.reg_form.id = null
				this.suppliers.reg_form.sup_name = ''
				this.suppliers.reg_form.sup_document = ''
				this.suppliers.reg_form.sup_document_type.selected = null
				this.suppliers.reg_form.created_at = ''
				this.suppliers.reg_form.updated_at = ''
				this.suppliers.reg_form.deleted_at = ''

			},
			editSupplier(it){

				this.suppliers.reg_form.id = it.id
				this.suppliers.reg_form.sup_name = it.sup_name
				this.suppliers.reg_form.sup_document = it.sup_document
				this.suppliers.reg_form.sup_document_type.selected = it.sup_document_type
				this.suppliers.reg_form.created_at = it.created_at
				this.suppliers.reg_form.updated_at = it.updated_at
				this.suppliers.reg_form.deleted_at = it.deleted_at

			},
			delSupplier(it){
				Swal.fire({
					title: `${ it.deleted_at ? 'Restaurar' : 'Eliminar' } proveedor ${it.sup_name}  ?`,
					text: `${it.deleted_at ? '' : 'Esta operación puede ser restaurada'}`,
					icon: 'warning',
					showCancelButton: true,
					confirmButtonColor: '#3085d6',
					cancelButtonColor: '#d33',
					cancelButtonText: 'Cancelar operación',
					confirmButtonText: 'Si'
				}).then((result) => {
					if (result.value) {
						if(this.suppliers.reg_form.wait)return
						this.suppliers.reg_form.wait = true
						this.axios.delete(`${this.server_url_suppliers}/${it.id}`,{
							headers:{
								'Content-Type':'application/json',
								'Accept': 'application/json',
							}
						}).then((response) => {
							this.suppliers.reg_form.wait = false
							Swal.fire({
								title:`Proveedor ${ it.deleted_at ? 'restaurada' : 'eliminada' }`,
								icon:'success'
							})
							this.getAllSuppliers()
						}).catch((error) => {
							this.suppliers.reg_form.wait = false
							Swal.fire({
								title:`Error al ${ it.deleted_at ? 'restaurar' : 'eliminar' } el proveedor`,
								icon:'warning'
							})

						})
					}
				})

			},
			calc_order_item_final_price(
				it, 
				full = true, 
				with_discount = true
			){
				return ( ( 100.0 - ( with_discount ? it.order_item_percent_discount : 0 ) ) / 100.0) * it.prod_unit_price * ( full ? it.order_item_quantity : 1)
			},
			/*
			filter_items_by_order_item_code(){
				if(this.filter_items.order_item_code != ''){
					this.filter_items_by_order_item_code_list = this.items.list.filter((item)=>{
						//return item.order_item_code.indexOf(this.filter_items.order_item_code) != -1
						return (new RegExp(this.filter_items.order_item_code,'i')).test(item.order_item_code)
					})
				}else{
					this.filter_items_by_order_item_code_list = []
				}
			},
			filter_items_by_prod_barcode(){
				if(this.filter_items.prod_barcode != ''){
					this.filter_items_by_prod_barcode_list = this.items.list.filter((item)=>{
						//return item.prod_barcode.indexOf(this.filter_items.prod_barcode) != -1
						return (new RegExp(this.filter_items.prod_barcode,'i')).test(item.prod_barcode)
					})
				}else{
					this.filter_items_by_prod_barcode_list = []
				}
			},
			*/
		},
		computed:{
			filter_items_by_order_item_code(){
				if(this.filter_items.order_item_code != ''){
					return this.items.list.filter((item)=>{
						//return item.order_item_code.indexOf(this.filter_items.order_item_code) != -1
						return (new RegExp(this.filter_items.order_item_code,'i')).test(item.order_item_code)
					})
				}else{
					return []
				}
			},
			filter_items_by_prod_barcode(){
				if(this.filter_items.prod_barcode != ''){
					return this.items.list.filter((item)=>{
						//return item.prod_barcode.indexOf(this.filter_items.prod_barcode) != -1
						return (new RegExp(this.filter_items.prod_barcode,'i')).test(item.prod_barcode)
					})
				}else{
					return []
				}
			},
			final_total_item_prices(){
				if(this.items.list && this.items.list.length>0){
					const prices = this.items.list.map((it) =>{
						return this.calc_order_item_final_price(it)
					})
					console.log('prices',prices)
					const total = prices.reduce((total_value,current_value) =>{
						return total_value + current_value
					})
					console.log(`Suma total = ${total}`)
					return total
				}else{
					return 0
				}
			},
			final_total_item_prices_without_discount(){
				if(this.items.list && this.items.list.length>0){
					const prices = this.items.list.map((it) =>{
						return this.calc_order_item_final_price(it,true,false)
					})
					console.log('prices',prices)
					const total = prices.reduce((total_value,current_value) =>{
						return total_value + current_value
					})
					console.log(`Suma total = ${total}`)
					return total
				}else{
					return 0
				}
			},
		},
		watch:{

			'moto_models.currentPage':function(new_val,old_val){
				if(new_val == old_val)return
					this.getAllMotoModels()

			},currentPage:function(new_val, old_val){
				if(new_val == old_val)return
				this.getAll()
			},
			rowsPerPage:function(new_val, old_val){
				if(new_val == old_val)return
				this.getAll()
			},
			show_deleted(new_val, old_val){
				this.getAll()
			},
			'suppliers.show_deleted':function(new_val, old_val){
				this.getAllSuppliers()
			},
			'moto_models.show_deleted':function(new_val, old_val){
				this.getAllMotoModels()
			},
			'receipt_types.show_deleted':function(new_val, old_val){
				this.getAllReceiptTypes()
			},
			'items.show_deleted':function(new_val, old_val){
				this.getAllItems()
			},
		},
		props:{
			server_url:{
				type:String,
				required:true,
			},
			server_url_moto_models:{
				type:String,
				required:true,
			},
			server_url_suppliers:{
				type:String,
				required:true,
			},
			server_url_receipt_types:{
				type:String,
				required:true,
			},
			server_url_motorcycle_parts:{
				type:String,
				required:true,
			},
		},
	}
</script>
<style lang=scss scoped>
	.date-info{
		color: #b9b9b9;
    font-style: italic;
	}
	.bg-smooth-yellow{
		background-color: #f6ffd2;
	}
	.table_overflow{
		width: 100%;
		overflow-x: scroll;
		table{
			position: relative;
		}
	}
	.current-stock{
		padding: 5px;
    margin: 10px 0px;
    border: 1px dashed #999;
    border-radius: 5px;
	}
	.mark_row_item{
		background-color: #ffdd9e !important;
	}
</style>