<template>
	<div>
		<b-modal 
			id="modal_supplier_item_on_sale_form"
			ref="modal_supplier_item_on_sale_form"
			:ok-title="`${reg_form.id ? 'Modificar':'Crear'}`"
			:title="`${reg_form.id ? 'Actualizar':'Crear'} item`"
			@ok="proc"
			ok-variant=dark
			cancel-variant=danger
			cancel-title="Cerrar"
			size=md
			:no-close-on-esc="true" 
			:no-close-on-backdrop="true" >

			<b-row>
				<b-col sm=12 md=12 lg=6 v-if="reg_form.id">
					<b-form-group
			      label="Modificar datos propios del Item"
			    >
						<b-form-checkbox 
							class="noselect"
				      v-model=" reg_form.modify_supplier_item "
				      name="modify-supplier-item"
				      :value="true"
				      :unchecked-value="false"
			    	>
			      {{ reg_form.modify_supplier_item ? 'Deshabilitar':'Habilitar' }}
			    	</b-form-checkbox>
			    </b-form-group>
				</b-col>
				<b-col sm=12 md=12 lg=6>
					<b-form-group
			      label="Código"
			    >
			      <b-form-input 
			      	:disabled=" !reg_form.modify_supplier_item "
			      	v-model=" reg_form.item_code " 
			      	trim />
			    </b-form-group>
				</b-col>
				<b-col sm=12 md=12 lg=12>
					<b-form-group
			      label="Artículo"
			    >
			      <b-form-input 
			      	:disabled=" !reg_form.modify_supplier_item "
			      	v-model=" reg_form.prod_name " 
			      	trim />
			    </b-form-group>
				</b-col>
				<b-col sm=12 md=12 lg=12>
					<b-form-group
			      label="Modelo de moto"
			    >
	    			<b-input-group size=md class="mb-1">
				      <b-form-select 
			      		:disabled=" !reg_form.modify_supplier_item "
				      	v-model=" reg_form.motorcycle_model.selected " 
				      	:options=" reg_form.motorcycle_model.options " />
					    <template v-slot:append>
					    	<b-btn 
					    		:disabled="!reg_form.modify_supplier_item"
					    		@click=" getAllMotoModels(true) "
					    		size=sm 
					    		variant=success>
									<b-spinner 
										v-if=" reg_form.motorcycle_model.wait_list "
										label="Spinning" 
										variant=light 
										small />
									<fai v-else icon=sync />
					    	</b-btn>
					    </template>
			      </b-input-group>
			      <b-alert 
			      	show 
			      	variant=info 
			      	v-if=" motorcycle_model_selected_text ">
			      	{{ motorcycle_model_selected_text }}
			      </b-alert>
			    </b-form-group>
				</b-col>
				<b-col sm=12 md=12 lg=6>
					<b-form-group
			      label="Unidad"
			    >
			      <b-form-select 
			      	:disabled=" !reg_form.modify_supplier_item "
			      	v-model=" reg_form.item_unit.selected " 
			      	:options=" reg_form.item_unit.options " />
			    </b-form-group>
				</b-col>
				<b-col sm=12 md=12 lg=6>
					<b-form-group
			      label="Tipo"
			    >
			      <b-form-select 
			      	:disabled=" !reg_form.modify_supplier_item "
			      	v-model=" reg_form.item_type.selected " 
			      	:options=" reg_form.item_type.options " />
			    </b-form-group>
				</b-col>
				<b-col sm=12 md=12 lg=6>
					<b-form-group
			      label="Marca"
			    >
	    			<b-input-group size=md class="mb-1">
				      <b-form-select 
				      	v-model=" reg_form.brand.selected " 
				      	:options=" reg_form.brand.options " />
					    <template v-slot:append>
					    	<b-btn 
					    		@click=" getBrands(true) "
					    		size=sm 
					    		variant=success>
									<b-spinner 
										v-if=" brands.wait "
										label="Spinning" 
										variant=light 
										small />
									<fai v-else icon=sync />
					    	</b-btn>
					    </template>
			      </b-input-group>
			    </b-form-group>
				</b-col>
				<b-col sm=12 md=12 lg=6>
					<b-form-group
			      label="Moneda"
			    >
			      <b-form-select 
			      	v-model=" reg_form.item_currency.selected " 
			      	:options=" reg_form.item_currency.options " />
			    </b-form-group>
				</b-col>
				<b-col sm=12 md=12 lg=6>
					<b-form-group
			      label="Precio al público"
			    >
			      <b-form-input 
			      	type="number"
			      	v-model.number=" reg_form.public_price " 
			      	trim />
			    </b-form-group>
				</b-col>
				<b-col sm=12 md=12 lg=6>
					<b-form-group
			      :label="`%Dscto (${calc_public_price_with_discount.toFixed(2)})`"
			    >
			      <b-form-input 
			      	type="number"
			      	v-model.number=" reg_form.public_price_discount " 
			      	trim />
			    </b-form-group>
				</b-col>
			</b-row>

		</b-modal>
		<h5>
			Catálogo de productos de proveedores 
			<b-btn 
				@click="add"
				variant=success 
				size=sm 
				v-b-modal.modal_supplier_item_on_sale_form>
				<fai icon=plus />
			</b-btn>
		</h5>
		<b-form-checkbox 
			:disabled=" wait_list "
			class="noselect"
      v-model="show_deleted"
      name="supplier-item-on-sales-deleted"
      value="1"
      unchecked-value="0"
  	>
    Mostrar eliminados
  	</b-form-checkbox>
  	<b-card title="Búsqueda">
  		<b-row>
  			<b-col lg=3 md=6 sm=12 v-if=" brands.options.length>0 ">
  				<b-form-group label="Marcas de repuestos">
		  			<b-form-radio-group 
		  				stacked 
		  				class="noselect" 
		  				:disabled=" wait_list "
		  				v-model=" brands.selected " 
		  				:options=" brands.options " />
		  		</b-form-group>
  			</b-col>
  			<b-col lg=3 md=6 sm=12 v-if="search_form.currency.options.length>0">
					<b-form-group label="Moneda">
						<b-form-radio-group stacked 
		  				class="noselect" 
		  				:disabled=" wait_list "
							v-model=" search_form.currency.selected "
							:options=" search_form.currency.options "
							name="form-currency-filter"
							/>
		  		</b-form-group>
  			</b-col>
  		</b-row>
  	</b-card>
		<b-dropdown 
			:disabled=" wait_list "
			:text="`${rowsPerPage} por página`" 
			variant="primary" 
			size=sm
			class="m-2">
	    <b-dropdown-item 
	    	href="#" 
	    	v-for="(it, idx) in [20,50,100,150,200]" :key="idx"
	    	@click=" rowsPerPage = it ">{{it}} registros</b-dropdown-item>
	  </b-dropdown>
		<b-pagination class="noselect"
			:disabled=" wait_list "
		  v-model=" currentPage "
		  :total-rows=" totalRows "
		  :per-page=" rowsPerPage "
		/>
  	<b-alert variant=success show>
  		Total: {{ totalRows }}
  	</b-alert>
  	<b-input-group size=md class="mb-1">
	    <b-form-input 
	    	placeholder="Buscar artículo" 
	    	v-model=" search_value " 
	    	v-on:keyup.enter=" getAll "
	    	/>
	    <template v-slot:append>
	    	<b-btn 
	    		@click=" getAll "
	    		size=sm 
	    		variant=success>
					<b-spinner 
						v-if=" wait_list "
						label="Spinning" 
						variant=light 
						small />
					<fai v-else icon=sync /> Buscar
	    	</b-btn>
	    </template>
	    <template v-slot:prepend>
	    	<b-btn 
	    		@click=" search_value = '' "
	    		size=sm 
	    		variant=danger>
					<fai icon=times />
	    	</b-btn>
	    </template>
	  </b-input-group>
		<div class="table-container2">
			<table 
				class=" 
					table-supplier
					table 
					table-hover 
					table-borderer 
					table-stripped">
				<thead>
					<tr>
						<th>
							<b-btn 
								variant=success 
								size=sm 
								@click=" getAll ">
								<b-spinner 
									v-if=" wait_list "
									label="Spinning" 
									variant=light 
									small />
								<fai v-else icon=sync />
							</b-btn>
						</th>
						<th>Marca</th>
						<th>Código</th>
						<th>Artículo</th>
						<th>Unidad</th>
						<th>Tipo</th>
						<th>Modelo</th>
						<th>S/ ó USD</th>
						<th>Precio de venta</th>
						<th></th>
					</tr>
				</thead>
				<tbody v-if=" list.length>0 ">
					<tr 
						v-for=" (it, idx) in list " 
						:class="{deleted: it.deleted_at}" 
						:key="idx">
						<td>{{ ( currentPage - 1 ) * rowsPerPage + idx + 1 }}</td>
						<td>{{ it.brand ? it.brand.brand_name : '--' }}</td>
						<td>{{ it.supplier_item ? it.supplier_item.item_code : '--' }}</td>
						<td>{{ it.supplier_item ? it.supplier_item.prod_name : '--' }}</td>
						<td>{{ it.supplier_item ? it.supplier_item.item_unit : '--' }}</td>
						<td>{{ it.supplier_item ? it.supplier_item.item_type : '--' }}</td>
						<td>
							{{ 
								it.supplier_item && it.supplier_item.motorcycle_model ? 
								it.supplier_item.motorcycle_model.mo_name : '--' 
							}}
						</td>
						<td>{{ it.item_currency ? it.item_currency : '--' }}</td>
						<td>{{ it.public_price ? it.public_price : '--' }}</td>
						<td>
							<b-btn 
								v-show=" !it.deleted_at " 
								class="mb-2" 
								@click=" edit(it) "
								v-b-modal.modal_supplier_item_on_sale_form
								variant=primary 
								size=sm>
								<fai icon=edit />
							</b-btn>
							<b-btn  
								class="mb-2" 
								@click=" del(it) "
								:variant="`${it.deleted_at ? 'warning' : 'danger'}`" 
								size=sm>
								<fai icon=trash />
							</b-btn>
						</td>
					</tr>
				</tbody>
				<tbody v-else >
					<tr>
						<td colspan=10>Sin registros</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</template>
<script>
	export default{
		data(){
			return {
				list:[],
				search_form:{
					currency:{
						selected:null,
						options:[],
					},
				},
				reg_form:{
					id:null,
					supplier_item_id:null,
					modify_supplier_item: false,
					wait:false,
					brand:{
						selected:null,
						options:[],
					},
					item_code:'',
					prod_name:'',
					item_unit:{
						selected:'UND',
						options:[
							{text:'UND', value: 'UND'},
							{text:'KIT', value: 'KIT'},
							{text:'JGO', value: 'JGO'},
							{text:'TAL', value: 'TAL'},
							{text:'OTRO', value: 'OTRO'},
						],
					},
					item_type:{
						selected:'2R',
						options:[
							{text:'2R', value: '2R'},
							{text:'3R', value: '3R'},
							{text:'OTRO', value: 'OTRO'},
						],
					},
					motorcycle_model:{
						wait_list:false,
						selected:null,
						options:[],
					},
					item_currency:{
						selected:'S/',
						options:[
							{text:'S/', value: 'S/'},
							{text:'$USD', value: '$USD'},
							{text:'OTRO', value: 'OTRO'},
						],
					},
					public_price:0,
					public_price_discount:30,
				},
				search_value:'',
				wait_list:false,
				show_deleted:0,
				brands:{
					list:[],
					wait:false,
					selected:null,
					options:[],
					reg_form:{
						id:null,
						brand_name:'',
						wait:false,
					},
				},
				rowsPerPage:20,
				totalPages:1,
				totalRows:1,
				currentPage:1,
			}
		},
		mounted(){
			this.getAll()
			this.getBrands(true)
			this.getAllMotoModels(true)
		},
		methods:{
			select_first_or_set_nullable(opts, preference = null){
				if(opts.options.length>0){
					if(preference){
						for(const obj of opts.options){
							if(obj.value == preference){
								opts.selected = preference
								return
							}
						}
					}
					opts.selected = opts.options[0].value
				}else{
					opts.selected = null
				}
			},
			add_text_item_to_options(str,sel, sort = true){
				this.add_to_options({
					text:str,
					value:str
					},
					sel.options,
					sort
				)
			},
			add_to_options(obj,objs,sort = true){
				let find = false
				for(const item of objs){
					if(item.value == obj.value){
						find = true
						break
					}
				}
				if(!find){
					objs.push(obj)
				}
				if(sort){
					objs.sort((a,b) => {
						if(!a.value && b.value)return -1
						const aa = a.text.toLowerCase()
						const bb = b.text.toLowerCase()
						if( aa > bb )return 1
						if( aa < bb )return -1
						return 0
					})
				}
			},
			add(){
				this.reg_form.modify_supplier_item = true
				this.reg_form.id = null
				this.reg_form.supplier_item_id = null
				this.reg_form.prod_name = ''
				this.reg_form.item_code = ''
				this.select_first_or_set_nullable(this.reg_form.item_unit,'UND')
				this.select_first_or_set_nullable(this.reg_form.item_type,'3R')
				this.select_first_or_set_nullable(this.reg_form.item_currency,'S/')
				this.reg_form.motorcycle_model.selected = null
				this.reg_form.public_price = 0
				this.reg_form.public_price_discount = 0
			},
			edit(it){
				console.log(" editando " , it)
				this.reg_form.modify_supplier_item = false
				this.reg_form.id = it.id 
				if(
					it.supplier_item && 
					it.supplier_item.id == it.supplier_item_id 
				){
					this.reg_form.supplier_item_id = it.supplier_item_id
					this.reg_form.prod_name = it.supplier_item.prod_name
					this.reg_form.item_code = it.supplier_item.item_code

					this.reg_form.item_unit.selected = it.supplier_item.item_unit
					this.add_to_options({
						text:it.supplier_item.item_unit,
						value:it.supplier_item.item_unit
						},
						this.reg_form.item_unit.options
					)

					this.reg_form.item_type.selected = it.supplier_item.item_type
					this.add_to_options({
						text:it.supplier_item.item_type,
						value:it.supplier_item.item_type
						},
						this.reg_form.item_type.options
					)

					if( 
						it.supplier_item.motorcycle_model 
					){
						this.reg_form.motorcycle_model.selected = it.supplier_item.motorcycle_model.id
					}else{
						this.reg_form.motorcycle_model.selected = null
					}

				}else{
					this.reg_form.supplier_item_id = null
					this.reg_form.prod_name = ''
					this.reg_form.item_code = ''
					this.select_first_or_set_nullable(this.reg_form.item_unit)
					this.select_first_or_set_nullable(this.reg_form.item_type)
					this.select_first_or_set_nullable(this.reg_form.motorcycle_model)
				}
				if(
					it.brand && 
					it.brand.id == it.brand_id
				){
					this.reg_form.brand.selected = it.brand_id
					this.add_to_options({
						text:it.brand.brand_name,
						value:it.brand.id
						},
						this.reg_form.brand.options,
						false
					)
				}else{
					this.select_first_or_set_nullable(this.reg_form.brand)
				}

				this.reg_form.item_currency.selected = it.item_currency
				this.add_to_options({
					text:it.item_currency,
					value:it.item_currency
					},
					this.reg_form.item_currency.options
				)

				this.reg_form.public_price = it.public_price
				this.reg_form.public_price_discount = it.public_price_discount

			},
			del(it){
				Swal.fire({
					title: `${ it.deleted_at ? 'Restaurar' : 'Eliminar' } item ?`,
					text: `${it.deleted_at ? '' : 'Esta operación puede ser restaurada'}`,
					icon: 'warning',
					showCancelButton: true,
					confirmButtonColor: '#3085d6',
					cancelButtonColor: '#d33',
					cancelButtonText: 'Cancelar operación',
					confirmButtonText: 'Si'
				}).then((result) => {
					if (result.value) {
						if(this.reg_form.wait)return
						this.reg_form.wait = true
						this.axios.delete(`${this.url_server}/${it.id}`,{
							headers:{
								'Content-Type':'application/json',
								'Accept': 'application/json',
							}
						}).then((response) => {
							this.reg_form.wait = false
							Swal.fire({
								title:`Item ${ it.deleted_at ? 'restaurada' : 'eliminada' }`,
								icon:'success'
							})
							this.getAll()
						}).catch((error) => {
							this.reg_form.wait = false
							Swal.fire({
								title:`Error al ${ it.deleted_at ? 'restaurar' : 'eliminar' } el item`,
								icon:'warning'
							})

						})
					}
				})

			},
			proc(modal_event){

				if(modal_event)modal_event.preventDefault()
				if(this.reg_form.wait)return
				Swal.fire({
					title: `${this.reg_form.id ? 'Modificar' : 'Agregar'} item`,
					text: "",
					icon: 'warning',
					showCancelButton: true,
					confirmButtonColor: '#3085d6',
					cancelButtonColor: '#d33',
					cancelButtonText: 'Cancelar operación',
					confirmButtonText: 'Si'
				}).then((result) => {
					if (result.value) {
						if(this.reg_form.wait)return
						this.reg_form.wait = true
						
						const data = {...this.reg_form}
						
						delete data.motorcycle_model
						delete data.brand
						delete data.item_currency

						data.brand_id = this.reg_form.brand.selected
						data.item_code = this.reg_form.item_code
						data.item_type = this.reg_form.item_type.selected
						data.item_unit = this.reg_form.item_unit.selected
						data.motorcycle_model_id = this.reg_form.motorcycle_model.selected
						data.item_currency = this.reg_form.item_currency.selected

						console.log('updating or creating',data)
						this.axios.post(
							`${this.url_server}${this.reg_form.id ? `/${this.reg_form.id}` : ''}`,
							data,{
							headers:{
								'Content-Type':'application/json',
								'Accept': 'application/json',
							}
						}).then((response) => {
							console.log(response)
							this.reg_form.wait = false
							Swal.fire({
								title:`Item ${ this.reg_form.id ? 'actualizado' : 'creado' }`,
								icon:'success'
							})

							this.getAll()

							for(const idx in response.data){
								const obj = response.data[idx]
								if(idx in this.reg_form){
									if( idx == 'item_currency' ){
										this.reg_form[idx].selected = obj 
									}else if( 
										idx == 'brand' && 
										obj.id 
									){
										this.reg_form[idx].selected = obj.id
									}else if( 
										idx == 'supplier_item' && 
										obj.id 
									){
										this.reg_form.supplier_item_id = obj.id
										this.reg_form.item_code = obj.item_code
										this.reg_form.prod_name = obj.prod_name
										
										this.add_text_item_to_options(obj.item_type,this.reg_form.item_type,true)
										this.reg_form.item_type.selected = obj.item_type
										
										this.add_text_item_to_options(obj.item_unit,this.reg_form.item_unit,true)
										this.reg_form.item_unit.selected = obj.item_unit
										
										this.reg_form.motorcycle_model.selected = obj.motorcycle_model_id
									}else{
										this.reg_form[idx] = obj
									}
								}
							}

						}).catch((error) => {
							console.log(error)
							this.reg_form.wait = false
							Swal.fire({
								title:`Error al ${ this.reg_form.id ? 'actualizar' : 'crear' } item`,
								icon:'warning'
							})

						})
					}
				})
			},
			getAll(extra_cond = false){

				if(this.wait_list)return
				this.wait_list = true

				const params = {
					page:this.currentPage,
					rows_x_page:this.rowsPerPage,
					show_deleted:this.show_deleted,
					search_value:this.search_value,
					extra_cond:( typeof extra_cond !== 'object' ? extra_cond : '' ),
				}

				for(const idx in this.search_form){
					const val = this.search_form[idx]
					if(
						typeof val == 'string' || 
						typeof val == 'boolean' || 
						typeof val == 'number' 
					){
						params[idx] = val
					}
				}

				params['brand_id'] = this.brands.selected ? this.brands.selected : ''
				params['item_currency'] = this.search_form.currency.selected ? this.search_form.currency.selected : ''

				this.axios.get(`${this.url_server}/list`,{
					params,
					headers:{
						'Accept': 'application/json',
					}
				}).then(response => {

					console.log(response)

					if(extra_cond === 'some_cond'){
					}else{
						this.wait_list = false
						this.list = response.data.records
						this.totalRows = response.data.totalRows
						this.totalPages = response.data.totalPages
						this.rowsPerPage = response.data.rowsPerPage
						this.currentPage = response.data.currentPage || response.data.page

						this.search_form.currency.options = response.data.currency_options ? response.data.currency_options : []

					}
					
				}).catch(error =>{

					console.log(error)

					if(extra_cond === 'some_cond'){
					}else{
						this.wait_list = false
					}

				}).then(()=>{

				})
			},
			getBrands(as_options = false){
				if(this.brands.wait)return
				this.brands.wait = true
				this.axios.get(`${this.url_server_brands}/list`,{
					params:{
						query_value:'',
						values_as:(as_options===true ? 'options' : ''),
					},
					headers:{
						'Accept':'application/json',
					}
				}).then((response)=>{
					this.brands.wait = false
					if(as_options===true){
						this.brands.options = response.data
						this.reg_form.brand.options = response.data
					}else{
						this.brands.list = response.data
					}
				}).catch((error)=>{
					this.brands.wait = false
					if(as_options===true){
						this.brands.options = []
						this.reg_form.brand.options = []
					}else{
						this.brands.list = []
					}
				}).then(()=>{

				})
			},
			getAllMotoModels(to_options = false){
				if(this.reg_form.motorcycle_model.wait_list)return
				this.reg_form.motorcycle_model.wait_list = true

				const params = {
					to_options: 1,
				}

				this.axios.get(`${this.url_server_moto_models}`,{
					params,
					headers:{
						'Accept': 'application/json',
					}
				}).then(response => {

					console.log(response)
					this.reg_form.motorcycle_model.wait_list = false
					this.reg_form.motorcycle_model.options = response.data
					
				}).catch(error =>{

					console.log(error)
					this.reg_form.motorcycle_model.wait_list = false
					this.reg_form.motorcycle_model.options = []

				}).then(()=>{

				})
			},
		},
		watch:{
			currentPage:function(new_val, old_val){
				if(new_val == old_val)return
				this.getAll()
			},
			rowsPerPage:function(new_val, old_val){
				if(new_val == old_val)return
				this.getAll()
			},
			show_deleted(new_val, old_val){
				this.getAll()
			},
			'brands.selected':function(new_val,old_val){
				this.getAll()
			},
			'search_form.currency.selected':function(new_val,old_val){
				this.getAll()
			},
		},
		computed:{
			calc_public_price_with_discount(){
				const price = window.parseFloat(this.reg_form.public_price)
				const price_discount = window.parseFloat(this.reg_form.public_price_discount)
				if(!window.isNaN(price) && !window.isNaN(price_discount)){
					return price * (100.0 - price_discount)/100.0
				}
				return 0
			},
			motorcycle_model_selected_text(){
				const sel = this.reg_form.motorcycle_model.selected
				if(sel){
					for(const opt of this.reg_form.motorcycle_model.options){
						if(opt.value == sel){
							return opt.text
						}
					}
				}
				return null
			}
		},
		props:{
			url_server:{
				type:String,
				require:true,
			},
			url_server_brands:{
				type:String,
				require:true,
			},
			url_server_moto_models:{
				type:String,
				require:true,
			},
		}
	}
</script>
<style lang=scss scoped>
	
</style>